[2022-04-18 14:52] SerdarYildiz06 commented on #109
Any news?

[2022-04-18 16:00] mahboobahmed6577 commented on #109
Nope

On Mon, Apr 18, 2022, 7:53 PM Serdar Yildiz ***@***.***>
wrote:

[2022-04-18 19:22] fareesh opened #653 "Bluetooth and Samsung Audio issues on Packages > v4.0.7"
We seem to be stuck with the 4.0.7 version and and unable to upgrade because of two issues.

One is a known issue i.e. https://github.com/AgoraIO/Agora-Flutter-SDK/issues/434

The other appears to reliably occur in newer Samsung phones, particularly the S21 and S22 Ultra - where the speaker's volume is incredibly low and inaudible to others. Even if we boost the recording volume to 400, this does

[2022-04-20 03:38] #636 closed

[2022-04-20 03:38] #638 closed

[2022-04-20 04:40] littleGnAl commented on #645
Sorry for the late response, do you set the `WatermarkOptions` for `addVideoWatermark` function?

[2022-04-20 04:49] littleGnAl commented on #644
You can only get UID from the SDK, something like the user name,  the user role, etc, should be business logic, which should be maintained by yourself.

[2022-04-20 04:50] littleGnAl commented on #635
Maybe you should run `flutter clean` first

[2022-04-20 07:21] luongdong059 commented on #650
Same issue for me

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':agora_rtc_engine:compileReleaseKotlin'.

     Searched in the following locations:
         https://www.jitpack.io/com/github/agorabuilder/native-full-sdk/3.4.6/native-full-sdk-3.4.6.jar

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get mor

[2022-04-20 11:40] vengatesan125 opened #654 "SDK ERROR"
* AppData\Local\Pub\Cache\hosted\pub.dartlang.org\agora_rtc_engine-5.1.0\android\src\main\kotlin\io\agora\agora_rtc_engine\AgoraRtcEnginePlugin.kt: (251, 18): Type mismatch: inferred type is String? but String was expected
* AppData\Local\Pub\Cache\hosted\pub.dartlang.org\agora_rtc_engine-5.1.0\android\src\main\kotlin\io\agora\agora_rtc_engine\AgoraSurfaceViewFactory.kt: (16, 1): Class 'AgoraSurfa

[2022-04-20 11:45] littleGnAl commented on #654
Seems the related issue https://github.com/AgoraIO/Agora-Flutter-SDK/issues/623

[2022-04-20 12:02] vengatesan125 commented on #654
* Issue solved, thanks.
* I upgrade my flutter version 2.10.2 to latest.
* thanks for once again. save my time.

[2022-04-20 13:28] jmlarbaig commented on #645
Yes I set it, with positions and height / width

[2022-04-20 14:23] fflores-facephi commented on #635
We have changed the PODFILE file of the client application, replacing "AgoraRtcEngine_iOS" with "AgoraIrisRTC_iOS" and the error no longer appears.

Thanks!!!

[2022-04-20 14:23] #635 closed

[2022-04-21 06:09] #640 closed

[2022-04-21 06:10] Rohithgilla12 opened #655 "Crashes on iOS with agora `5.1.0`"
**Describe the bug**

`EXC_BAD_ACCESS UIPredictionViewController`

The app crashes even when Agora services are not in use.

**To Reproduce**
Not in any particular way.

**Expected behavior**
The app shouldn't crash

**Smartphone (please complete the following information):**
 - Device: iPhone
	  iOS 15.4.1
	  iPhone XS

**Additional context**
The sentry logs are as follows

[code]

[2022-04-21 06:21] Rohithgilla12 opened #656 "Android Crash in agora `5.1.0`"
**Describe the bug**
Exception Type: Unknown (SIGSEGV)

Application-Specific Information:
Segfault

**To Reproduce**
Suddenly happens even when agora is not in use.

**Expected behavior**
The app shoudn't crash

**Smartphone (please complete the following information):**
![image](https://user-images.githubusercontent.com/19389850/164387313-1de4a0ac-28d8-4604-956c-25945bd64193.png)

**Additional co

[2022-04-21 06:55] littleGnAl commented on #656
Thanks for reporting, we will fix it in the next release.

[2022-04-21 06:57] #654 closed

[2022-04-21 07:03] littleGnAl commented on #655
Thank for reporting, there's a related issue https://github.com/AgoraIO/Agora-Flutter-SDK/issues/634, but should be fixed in 5.1.0, can you try `flutter clean`, and rebuild the APP to see if still has the same issue.

[2022-04-21 07:11] littleGnAl commented on #653
Thanks for reporting, I have reported this issue internally, but still waiting to investigate, I will feedback here if there's any update.

[2022-04-21 07:16] littleGnAl commented on #574
Please try `agora_rtc_engine: 5.1.0`.

[2022-04-21 07:18] littleGnAl commented on #27
Please try `agora_rtc_engine: 5.1.0`.

[2022-04-21 09:54] Rohithgilla12 commented on #655
Yes, I have cleaned cached in CI/CD pipeline and published it to stores

:(

[2022-04-21 10:26] littleGnAl commented on #655
It's so weird that `AgoraRtcChannelPlugin` no longer has the `dealloc` implementation, seems the code does not match.

[2022-04-21 10:27] littleGnAl commented on #655
Can you share the `pubspec.yaml` and the `Podfile` of the iOS module?

[2022-04-21 14:12] Rohithgilla12 commented on #655
@littleGnAl For the particular iOS module, can't share it since the build machine gets destroyed after building.

Do you want me to build it locally and share it?

I think the `Podfile` of iOS module resides inside the `ios` folder right?

[2022-04-22 06:51] littleGnAl commented on #655
Yes, I'm not sure is there something that went wrong with the configuration.

[2022-04-22 07:45] jayant1441 commented on #28
Did anyone found the solution

[2022-04-22 09:11] FatimaZahra-FCH commented on #28
@LichKing-2234 , Still waiting for an answer ...

[2022-04-22 16:52] kids-return opened #657 "热重启或热加载 RtcEngineEventHandler 无效"
必须停止再重启启动才能生效，修改代码后就不再生效，不知道是哪里的问题，是不是不支持呀。
开发起来好难受

使用的事例代码 https://docs.agora.io/cn/Interactive%20Broadcast/start_live_flutter?platform=Flutter

[2022-04-22 16:56] nathanielajayi7 opened #658 "Flutter App freezes on disconnecting from video call"
**Describe the bug**
Using the audio call feature, everything works fine and as should, but the video call does not terminate properly. The app is frozen with logs that look like this :

`Accessing hidden method Lsun/misc/Unsafe;->getLong(Ljava/lang/Object;J)J (greylist,core-platform-api, linking, allowed)
2
I/GDPAndroid(30079): getCpuTemperature valid path:/sys/class/thermal/thermal_zone0/temp
E/

[2022-04-23 09:09] #641 closed

[2022-04-24 06:31] littleGnAl commented on #658
Do you grant the camera permission? BTW I think a reproducible demo for this case is helpful.

[2022-04-24 06:35] littleGnAl commented on #657
Hello @kids-return , which version of `agora_rtc_engine` do you use?

[2022-04-24 06:46] LichKing-2234 commented on #652
have you granted the permission for chrome?

[2022-04-24 06:47] LichKing-2234 commented on #643
have you call stopScreenSharing before leavechannel?

[2022-04-24 10:28] nathanielajayi7 commented on #658
Yes. The video call works all fine, the issue is onDisconnect. When user
leaves or you leave the channel, the call is supposed to end and go back to
the previous screen but it just stops and kills the app.

Would it be okay to share an APK with you about this problem?

On Sun, Apr 24, 2022, 07:31 Littlegnal ***@***.***> wrote:

[2022-04-25 02:32] Rohithgilla12 commented on #655
Not sure about what configuration
But the app was live and working without issues for almost 5-6 months

Once the update happen this is creating issues 😔

[2022-04-25 05:49] littleGnAl commented on #658
The "leave channel" case works fine in our example https://github.com/AgoraIO/Agora-Flutter-SDK/blob/master/example/lib/examples/basic/join_channel_video/join_channel_video.dart, I think it is related to your business logic, a reproducible demo for this case is helpful than the APK.

[2022-04-25 05:51] littleGnAl commented on #655
I will add more test cases to see if it can reproducible or not.

[2022-04-25 05:56] littleGnAl commented on #645
Hello @jmlarbaig, can you show your code?

[2022-04-25 08:44] jack84156 opened #659 "Unhandled Exception: MissingPluginException on Windows"
**Describe the bug**
that's what i get when i pub get your plugin
FAILURE: Build failed with an exception.

* Where:
Script 'C:\src\flutter\packages\flutter_tools\gradle\flutter.gradle' line: 1102

* What went wrong:
Execution failed for task ':app:compileFlutterBuildDebug'.

* Try:

* Get more help at https://help.gradle.org

BUILD FAILED in 52s
Exception: Gradle task assembleDebug failed with ex

[2022-04-25 09:09] nathanielajayi7 commented on #658
Falling back to version 4.1.0 works fine and the hanging issue is gone. Thanks.

[2022-04-25 09:09] #658 closed

[2022-04-25 19:21] dbrezack commented on #652
@LichKing-2234 Yes.

[2022-04-26 01:47] OHeroJ opened #660 "引用最新版本后，造成 fijkplayer 闪退。"
引入 `agora_rtc_engine: 5.1.0` 后

https://github.com/befovy/fijkplayer/issues/511#issue-1215197964。

感觉是 ffmpeg 的版本造成。

`agora_rtc_engine: ^4.0.7`   引入这个版本不会照成 fijkplayer 闪退。

------

after `use agora_rtc_engine: 5.1.0`

https://github.com/befovy/fijkplayer/issues/511#issue-1215197964.

The crash seems to be caused by the version of ffmpeg.

`agora_rtc_engine: ^4.0.7` will not cause a crash.

[2022-04-26 03:55] littleGnAl commented on #660
The fijkplayer should hide the ffmpeg symbols. The Agora RTC native SDK does not export the symbols.

[code]

[2022-04-26 03:59] littleGnAl commented on #659
Hello @jack84156 , which version of `agora_rtc_engine` do you use?

[2022-04-26 04:15] AlexXmoe commented on #659
agora_rtc_engine: ^5.1.0

[2022-04-26 04:17] jack84156 commented on #659
i am using the latest version ^5.1.0

[2022-04-26 04:25] AyuBella97 commented on #200
Just replace "AgoraRenderWidget" with "StatefulWidget". Hope this will help you.

[2022-04-26 05:14] bermohmtnm opened #661 "wrapping version issue"
**Describe the bug**
i used the quick star example but i got the following
Unhandled Exception: MissingPluginException(No implementation found for method create on channel agora_rtc_engine)

**To Reproduce**
Steps to reproduce the behavior:
1. pub get agora_rtc_engine: ^5.1.0
2. copied the quick star example
3. i make sure every thing fine
4. i got the previous error message

**Expected behavior**

[2022-04-26 05:19] bermohmtnm commented on #659
i have the same problem too

[2022-04-26 05:21] AlexXmoe commented on #661
hey i am facing the same error

[2022-04-26 05:27] AlexXmoe opened #662 "MissingPluginException(No implementation found for method create on channel agora_rtc_engine)"
**Describe the bug**
Unhandled Exception: MissingPluginException(No implementation found for method create on channel agora_rtc_engine)

**Desktop (please complete the following information):**
 - OS: [windows]
 - Browser [edge]

**Smartphone (please complete the following information):**
 - Device: [Samsung galaxy note 10]
 - OS: [android]

**Additional context**
 i keep this error message every

[2022-04-26 06:23] littleGnAl commented on #662
Hello @AlexXmoe, can you print the `flutter doctor`? And which version of `agora_rtc_engine` do you use?

[2022-04-26 06:36] AlexXmoe commented on #662
i am using the latest version 5.1.0

flutter doctor

[√] Flutter (Channel stable, 2.10.5, on Microsoft Windows [Version 10.0.19044.1645], locale en-US)
[√] Android toolchain - develop for Android devices (Android SDK version 32.1.0-rc1)
[√] Chrome - develop for the web
[√] Visual Studio - develop for Windows (Visual Studio Community 2022 17.1.2)
[√] Android Studio (version 2021.1)
[√] Connected de

[2022-04-26 06:52] littleGnAl commented on #659
I'm so sorry that I can not reproduce this issue on my local machine, I think a reproducible demo for this case is necessary.

[2022-04-26 06:53] littleGnAl commented on #661
It seems it's duplicated issue https://github.com/AgoraIO/Agora-Flutter-SDK/issues/659

[2022-04-26 06:53] littleGnAl commented on #662
It seems it's duplicated issue https://github.com/AgoraIO/Agora-Flutter-SDK/issues/659

[2022-04-26 07:10] jack84156 commented on #659
waiting for customer to response , what should response for ?

[2022-04-26 07:19] AlexXmoe commented on #659
@jack84156 we have common versions . did you try to use other agora version

[2022-04-26 07:27] bermohmtnm commented on #659
hi guys , i tried to use old gradle version . and this solved the issue , but wonder how come agora does not care of updates !!!

[2022-04-26 07:40] AlexXmoe commented on #659
@bermohmtnm  i tried with 7 versions .. but the same message error . it wont pub get  .. the problem is that i can't use old gradle because i have other plugins that require up to date  gradle versions

[2022-04-26 07:42] bermohmtnm commented on #659
well , lets see @littleGnAl what to say ..

[2022-04-26 07:49] littleGnAl commented on #659
Sorry guys, I try to reproduce this issue with `gradle-7.4.1`, `com.android.tools.build:gradle:7.1.3` but with no luck, a minimum demo can reproduce this issue is helpful, or reproducing by using our example is helpful too. https://github.com/AgoraIO/Agora-Flutter-SDK/tree/master/example.

[2022-04-26 08:23] sam4523 opened #664 "cannot pub get the plugin with my up to date files"
i am getting this code every time i install agora plugin
No implementation found for method create on channel agora_rtc_engine

if i am not wrong i think agora does not use the latest version of the following .. some of my versions

![j](https://user-images.githubusercontent.com/98433037/165254243-fae20c89-bf68-4709-991a-79cda02c610b.png)

![jj](https://user-images.githubusercontent.com/98433037/1

[2022-04-26 08:56] littleGnAl commented on #664
Duplicated https://github.com/AgoraIO/Agora-Flutter-SDK/issues/659

[2022-04-26 09:47] sam4523 commented on #659
sorry i was not know it is duplicated here  .. any updates @jack84156 , @littleGnAl ?

[2022-04-26 10:18] littleGnAl commented on #650
@luongdong059 Can you try `agora_rtc_engine: 4.2.2` or the latest version?

[2022-04-26 14:21] tardisalbiazul commented on #637
@littleGnAl Hey, have you had a chance to look at this?

Behavior seems inconsistent for audio playback devices too...

[2022-04-27 03:09] littleGnAl commented on #637
Hello @tardisalbiazul, Sorry for so late response, it there any error log?

[2022-04-27 03:17] littleGnAl commented on #659
I have updated gradle version in our example and CI passed, I think this issue is not related to the gradle.
https://github.com/AgoraIO/Agora-Flutter-SDK/pull/663

[2022-04-27 03:22] littleGnAl commented on #652
Hello @dbrezack, I'm sorry that I can't reproduce this issue on my machine, I think a reproducible demo is helpful for this case.

[2022-04-27 03:43] ThangD opened #665 "Macos - video is flicker during joining channel"
**Describe the bug**
Run the example on macos, video is flickering as the attachement

**To Reproduce**
Steps to reproduce the behavior:
1. Run example on MACOS
2. Run JoinChannelVideo
3. Other user join the channel
4. Watch the video

**Expected behavior**
Video is NOT flicker

**Desktop (please complete the following information):**
 - OS: Macos

**Additional context**

https://user-images.githu

[2022-04-27 03:51] sam4523 commented on #659
i cannot downlead the link you shared here
https://github.com/AgoraIO/Agora-Flutter-SDK/tree/master/example.

[2022-04-27 03:55] littleGnAl commented on #659
@sam4523 You should clone the repo

[2022-04-27 03:56] sam4523 commented on #659
yes sorry my bad

[2022-04-27 03:58] littleGnAl commented on #665
@ThangD Thanks for reporting, this issue is related to flutter sdk macos support, we are still investigating how to fix it.

[2022-04-27 04:23] sam4523 commented on #659
i just finish running the example , i got the same Jack error message
Unhandled Exception: MissingPluginException(No implementation found for method create on channel agora_rtc_engine)
:(

[2022-04-27 04:59] smit-sk commented on #659
I have same issue.
e: C:\src\flutter\.pub-cache\hosted\pub.dartlang.org\agora_rtc_engine-5.1.0\android\src\main\kotlin\io\agora\agora_rtc_engine\AgoraTextureViewFactory.kt: (17, 3): 'create' overrides nothing

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':agora_rtc_engine:compileDebugKotlin'.

* Try:
Run with --stacktrace option to get the stack trace. Ru

[2022-04-27 05:19] littleGnAl commented on #659
@sam4523 Is there any error log in logcat?

[2022-04-27 05:21] littleGnAl commented on #659
@smit-sk I think it's not a related issue, pls raise a new issue for your case, thanks.

[2022-04-27 05:24] sam4523 commented on #659
@smit-sk i think you have a difference issue as what @littleGnAl  said

[2022-04-27 07:33] jack84156 commented on #659
still the same issue , can i upload my repo to check it ? @littleGnAl

[2022-04-27 07:49] smit-sk opened #666 "Execution failed for task ':agora_rtc_engine:compileDebugKotlin'."
I have same issue.
e: C:\src\flutter.pub-cache\hosted\pub.dartlang.org\agora_rtc_engine-5.1.0\android\src\main\kotlin\io\agora\agora_rtc_engine\AgoraTextureViewFactory.kt: (17, 3): 'create' overrides nothing

FAILURE: Build failed with an exception.

What went wrong:
Execution failed for task ':agora_rtc_engine:compileDebugKotlin'.
Compilation error. See log for more details

Try:
Run with --stack

[2022-04-27 08:02] littleGnAl commented on #666
Seems related issue https://github.com/AgoraIO/Agora-Flutter-SDK/issues/623

[2022-04-27 11:08] #639 closed

[2022-04-27 16:16] tp commented on #643
@LichKing-2234 Yes, I tried to explicitly end the screenshare if active (via the helper) before ending the call, but that didn't change anything. This problem persisted.

[2022-04-28 06:26] reemXmoe opened #668 "message error"
i am using agora_rtc_engine: ^5.1.0
and that's what get when i install it

![s](https://user-images.githubusercontent.com/104551969/165691216-ce2eb79d-bfdc-4657-9a22-6c8e6f225f67.png)

and this my gardle file  . Although I put compileSdkVersion
![2](https://user-images.githubusercontent.com/104551969/165690279-f22b4763-724f-4ade-832f-faab202f27fc.png)

my flutter doctor
[√] Flutter (Channel stable

[2022-04-28 06:41] littleGnAl commented on #668
It's most likely the Flutter SDK issue, you'd better report it to the Flutter repo.

[2022-04-28 06:58] reemXmoe commented on #668
thanks , but i don't think it is Flutter SDK issue at all . my app is published on appstore & google play since 3 years .. i have decide to update it to new version and include the agora plugin into it . but with no luck  .. also i am getting  new error message

Unhandled Exception: MissingPluginException(No implementation found for method create on channel agora_rtc_engine)

[2022-04-28 07:02] littleGnAl commented on #668
Is there any other logs apart from this?

[2022-04-28 07:19] reemXmoe commented on #668
no .. i am getting this with previous errors message in my form

[2022-04-28 07:20] reemXmoe commented on #668
sometimes it accept to install . but when i run my project it give me that error

[2022-04-28 07:42] littleGnAl commented on #668
I think it's related to https://github.com/AgoraIO/Agora-Flutter-SDK/issues/659

[2022-04-28 08:54] reemXmoe commented on #659
i have the same issue

[2022-04-28 08:55] reemXmoe commented on #668
yes exactly .. you hit it

[2022-04-28 08:55] reemXmoe commented on #659
@jack84156 did you solve this yet ?

[2022-04-28 11:03] jack84156 commented on #659
yes i solved it .. finally after too mush search

i am wondering why this issue special happened with agora plugin .. but anyway here is the solution

in gradle file .. android level if you had develop your app since awhile  you will find the following

[code]
just remove the extra doublicated  subprojects like following

[code]

[2022-04-28 11:08] AlexXmoe commented on #659
@jack84156  thaaaaaaaaaaaaaaaaanks wow yes you right  it work with me too .. really thanks

[2022-04-28 16:35] ShawermaBox commented on #666
are you on flutter dev channel?
If so, switching to the stable channel solved the problem for me

[2022-04-29 02:59] GauravCalidig commented on #641
Facing Same Issue

[2022-04-29 03:16] littleGnAl commented on #659
@jack84156 Good to see your issue fixed. The Flutter SDK sorts the plugins with the name's lexicographical order, you may see that the registration of `agora_rtc_engine` is sorted to first in `GeneratedPluginRegistrant`, most of the time the `agora_rtc_engine` faces the problem first if there's an issue with the Flutter SDK.

Here's another issue we face before https://github.com/flutter/flutter/i

[2022-04-29 03:27] AlexXmoe commented on #659
@littleGnAl Oh , i just see it you even put the solution there as exactly mine , if you share that link with me before you will save my hard time looking for solution .. anyway thanks

[2022-04-29 03:29] jack84156 commented on #659
@littleGnAl Oooh i just see it , you even put the solution in that issue as mine exactly , if you share that issue with me before you will saved my hard time looking for solution , anyway thanks

[2022-04-29 05:18] littleGnAl commented on #641
Related issue https://github.com/AgoraIO/Agora-Flutter-SDK/issues/650

[2022-04-29 05:20] littleGnAl commented on #668
Duplicated. Pls keep track here https://github.com/AgoraIO/Agora-Flutter-SDK/issues/659

[2022-04-29 05:20] #668 closed

[2022-04-29 05:21] littleGnAl commented on #662
Duplicated. Pls keep track here https://github.com/AgoraIO/Agora-Flutter-SDK/issues/659

[2022-04-29 05:21] #662 closed

[2022-04-29 05:21] littleGnAl commented on #661
Duplicated. Pls keep track here https://github.com/AgoraIO/Agora-Flutter-SDK/issues/659

[2022-04-29 05:21] #661 closed

[2022-04-29 06:49] ThangD opened #669 "Screen share on example is not working (Chrome & window)"
**Describe the bug**
Try to run screen share feature on window and web (chrome) but not working as expected

**To Reproduce**
Steps to reproduce the behavior:
1. Run example app with web
2. Run ScreenSharing
4. Screen share is duplicate multiple times as image attached
![image](https://user-images.githubusercontent.com/7744981/165896702-f0052315-aa2c-4ac5-9b44-f555002a9b0e.png)

**Expected behavio

[2022-04-29 14:31] chenyifan88 opened #670 "no videoElement be created on mobile safari"
IAgoraRTCRemoteUser - videoTrack - player is undefined on mobile safari. so I see a black screen only.
I debug on mac safari,  the player property is not undefined.

<img width="1122" alt="截屏2022-04-29 下午10 28 56" src="https://user-images.githubusercontent.com/40348648/165965322-2e624068-d408-4e2f-bb7c-9d236720cb28.png">

[2022-04-29 15:16] dbrezack commented on #652
May be related https://github.com/AgoraIO/Agora-Flutter-SDK/issues/669

[2022-04-29 16:11] maxxfrazer opened #671 "getSdkVersion is not set as a static method"
**Describe the bug**
Getting engine version is not a static method.
Cannot call `RtcEngine.getSdkVersion()` for example, because the method is not set as static.

**To Reproduce**
Steps to reproduce the behavior:
Attempt to call `RtcEngine.getSdkVersion()`, it can only be called on an instance of the engine.

**Expected behavior**
I would expect to be able to call RtcEngine.getSdkVersion(), in the

[2022-04-29 16:27] MarianoAmado commented on #650
@littleGnAl
I'm having this same issue with `agora_rtc_engine: 3.4.6` in a flutter 1 based project

[code]

Could you guys please publish that fix for the non null-safety version?

[2022-04-30 10:27] KalanaPerera commented on #183
Hi @LichKing-2234,

Sorry this is not related to Agora SDK, currently, I am using on this https://github.com/flutter-webrtc/flutter-webrtc (Not the creator)

We also need to access raw video data,

With your experience, would you be able to guide us on the correct path?

[2022-05-01 01:23] KalanaPerera commented on #615
HI @Anilkumar18 ,

I've seen your fork, looks good. I am also new to this, therefore I don't have much idea to decouple this,

My question is: how do you use this implementation on your project since you edit the SDK directly?

Thank you in advance.

[2022-05-02 12:39] tardisalbiazul commented on #637
No error log. After using setAudioRecordingDevice, once you call getAudioRecordingDevice, the current device corresponds with the one you just selected, but the actual result is inconsistent with this, basically the device is not updated. This is happening with Recording devices constantly, and with playback devices intermittently.

[2022-05-02 16:39] sebklose opened #672 "Flutter / Bluetooth microphone not working (Android only)"
**Describe the bug**
We have 1:many event with video and audio - one person can have video and speak, the participants can see and hear the person.
If the trainer is having a bluetooth headset on - the sound is not transmitted (seems microphone of BT device not used)

**Expected behavior**
Any bluetooth headset connected can be used for audio microphone

**Screenshots**
no

**Smartphone (please co

[2022-05-03 07:53] demagomes commented on #609
Hi there, was this issue fixed in 5.1.0?

[2022-05-03 13:05] dmitry-fbm commented on #609
Yes thanks, the ticket can be closed.

[2022-05-03 13:19] #609 closed

[2022-05-04 02:12] ThangD commented on #669
I just added this feature on window and the duplicate screen also display (seem like recursion function). @littleGnAl Could you pls help to confirm this is the flutter agora issue or missing anything else? Thanks.

[2022-05-04 11:08] #650 closed

[2022-05-04 16:17] alekben commented on #652
@dbrezack Hi Data,
I'm hoping to address the sharing issue that you brought up on the call, regarding screensharing using our Flutter wrapper.
This is based on the Agora Web 4.x SDK, which can only publish one videoTrack per client engine instance.

[https://docs.agora.io/en/Video/screensharing_web_ng?platform=Web#enable-both-screen-sharing-and-video](https://docs.agora.io/en/Video/screensharing_w

[2022-05-05 03:06] littleGnAl commented on #672
Related https://github.com/AgoraIO/Agora-Flutter-SDK/issues/434

[2022-05-05 03:19] littleGnAl commented on #671
Hello @maxxfrazer , this is a breaking change since 5.0.0
https://docs.agora.io/en/Video/release_flutter_video?platform=Flutter#v500-native-352

[2022-05-05 10:19] littleGnAl commented on #669
This is called [Droste effect](https://en.wikipedia.org/wiki/Droste_effect). You should avoid capturing the preview window to avoid this.

[2022-05-05 12:59] kartt10 opened #673 "Agora Flutter: Able to see video on local views, but on remote view in native other speaker/audience see's black screen"
<html>
<body>

With the latest agora rtc 5.1.0, when joining a live room from native (iOS & android) as a speaker or audience, unable to see remote video stream only getting a black screen. We've checked out the FAQ docs for agora on the remote stream issue and its not any of them. The weird thing is that on web client I'm able to view the remote stream & local stream with no issues.

Here's a sni

[2022-05-05 17:05] dbrezack commented on #652
Is it possible to switch video track if I wanted only one output ?

[2022-05-06 08:09] #634 closed

[2022-05-06 08:09] #646 closed

[2022-05-06 14:56] alekben commented on #652
@dbrezack The Flutter SDK doesn't give you fine control over what the WebSDK actually ends up doing, so you don't have direct control of WebRTC tracks, but it's easy enough to stick with the two engines, one for local video device capture, one for local screen/window capture, and just enableLocalVideo(false) on the main engine when starting the screenshare.

See this modified version:

[https://gi

[2022-05-06 16:00] sebklose commented on #434
Hi, yes same here - had contacted Agora support but nothing helpful yet, we tried 4.0.7 and also have the same problem. Any ideas here?

[2022-05-07 09:38] tp commented on #496
@dfdgsdfg Did you find the underlying issue? We have the same error message in a project, but not sure about the severity yet.

[2022-05-07 15:17] Losspost opened #674 "muteAllRemoteAudioStreams not working"
**Describe the bug**
When calling muteAllRemoteAudioStreams in the flutter sdk it will not mute the audio streams. It is still possible to hear all users.

**To Reproduce**
Steps to reproduce the behavior:
1. join voice channel
2. call muteAllRemoteAudioStreams inside the code3.

**Expected behavior**
Mute all remote Audio stream, can't hear the other users anymore.

**Desktop (please complete the

[2022-05-09 03:24] littleGnAl commented on #670
Hello @chenyifan88 , can you share your example code?

[2022-05-09 04:12] littleGnAl commented on #674
Hello @Losspost, I'm sorry that I can't reproduce this issue, can you provide a reproducible demo for this case?

[2022-05-09 04:17] littleGnAl commented on #673
Hello @kartt10 , can you check the channelId and the uid is valid or not

[2022-05-09 04:20] blopker opened #675 "Firefox can show video from mobile app rotated 90 degrees"
**Describe the bug**
The issue is when Firefox is rendering video captured from a mobile app. The video may be in the incorrect orientation. When the same video is viewed on Chrome, however, the orientation is correct.

The page at https://docs.agora.io/en/Video/web_sdk_known_issues?platform=Web says this is potentially a known issue with the web SDK, but maybe it's a different issue with Flutter?

[2022-05-09 04:33] #673 closed

[2022-05-09 07:43] #492 closed

[2022-05-09 09:59] maxxfrazer commented on #671
@littleGnAl thanks for the link!
Could you help me understand why this change was made? As it's different from the native platform and Flutter RTM behaviour.

[2022-05-09 22:22] rennylangat commented on #665
I had the same issue. When joining from the emulator on a Mac both android and iphone Emulators sort of flicker for a few seconds then there is a noticeable lag in the response from the android emulator even though both broadcaster and audience are on the same network

[2022-05-10 15:38] dbrezack commented on #652
@alekben Wouldn't this effectively double the pricing of all video calling and recording ?

[2022-05-11 05:14] #644 closed

[2022-05-11 12:37] Ahsan166 opened #676 "Execution failed for task ':agora_rtc_engine:generateDebugRFile'"
Execution failed for task ':agora_rtc_engine:generateDebugRFile'.

     Searched in the following locations:
         https://www.jitpack.io/com/github/agorabuilder/native-full-sdk/3.5.2/native-full-sdk-3.5.2.aar

[2022-05-12 00:26] matthewfx opened #677 "The app fails to build for Android when Flutter upgraded to 3.0."
**Describe the bug**
I decided to upgrade Flutter to 3.0
The app doesn't build for Android.
Getting a few agora errors in the console i.e
e: C:\src\flutter.pub-cache\hosted\pub.dartlang.org\agora_rtc_engine-5.1.0\android\src\main\kotlin\io\agora\agora_rtc_engine\AgoraTextureViewFactory.kt: (17, 3): 'create' overrides nothing

I have tried Agora 5.1.0 and 4.0.7

**To Reproduce**
Steps to reproduce

[2022-05-12 08:26] Tonigt commented on #677
same error

[2022-05-12 08:34] littleGnAl commented on #677
We will support 3.0 in the next release.

[2022-05-12 08:35] littleGnAl commented on #676
Duplicated https://github.com/AgoraIO/Agora-Flutter-SDK/issues/650

[2022-05-12 08:35] littleGnAl commented on #675
I had reported this issue internally, still waiting for the response.

[2022-05-12 08:36] matthewfx commented on #677
@littleGnAl Could you please tell us when we can expect it?

[2022-05-12 08:41] littleGnAl commented on #677
@matthewfx I'm sorry that I can't estimate the time for it. We need to schedule the upgrade internally. I will update here if any feedback.

[2022-05-12 09:09] #27 closed

[2022-05-12 09:09] #574 closed

[2022-05-12 14:37] blopker commented on #675
Thank you @littleGnAl, I appreciate the update.

[2022-05-12 19:45] AliAzaz commented on #340
I tried abiFilters and it reduced size exceptionally

[code]

[2022-05-13 02:21] dhimanrascon commented on #666
I'm facing same issue, after upgrading to flutter latest stable version 3.0.0 & agora latest version 5.1.0

Here is the log

[code]

[2022-05-13 02:22] OHeroJ opened #678 "crash on iOS"
[code]

[2022-05-13 04:44] Rohithgilla12 commented on #678
I had so many such crashes in the 5.0 version and above.
Downgrading to `4.2.1` is working without any crashes!

[2022-05-13 04:48] littleGnAl commented on #678
Pls try `agora_rtc_engine: 5.1.1`

[2022-05-13 04:53] littleGnAl commented on #656
Pls try `agora_rtc_engine: 5.1.1`

[2022-05-13 07:07] IsmailAlamKhan commented on #677
On the latest version, still can't run it.

e: D:\programming\flutter\installs\flutter\.pub-cache\hosted\pub.dartlang.org\agora_rtc_engine-5.1.1\android\src\main\kotlin\io\agora\agora_rtc_engine\AgoraRtcEnginePlugin.kt: (263, 18): Type mismatch: inferred type is String? but String was expected
e: D:\programming\flutter\installs\flutter\.pub-cache\hosted\pub.dartlang.org\agora_rtc_engine-5.1.1\andr

[2022-05-13 08:08] darkengine commented on #677
Got this error, too.

And crashed in when clicking the top-left "back" button running with iPhone.

[2022-05-14 06:49] IsmailAlamKhan commented on #677
Its been 2 days since this issue has started when can we expect a fix?

[2022-05-14 08:14] Manishmg3994 opened #679 "Error with flutter 3 but works fine with flutter 2.10.5 and other"
[code]

[2022-05-14 08:15] Manishmg3994 commented on #677
new release also have these errors

[2022-05-14 16:26] Codesait commented on #28
It will not be painful to you sir to help out by providing a code snippet solving this issue on background sir

[2022-05-14 16:29] rpksharma commented on #679
Same issue here, plz fix it

[2022-05-14 20:12] vpositron commented on #679
The same issue... (

[2022-05-14 20:37] zubisofts commented on #679
Same here, please fix.

[2022-05-15 02:46] littleGnAl commented on #679
Duplicated https://github.com/AgoraIO/Agora-Flutter-SDK/issues/677

[2022-05-15 02:46] #679 closed

[2022-05-15 03:18] good-good-study commented on #597
想咨询下，声网flutter版本，单纯的发起和接听多人视频，app处于后台时，如何接听？

[2022-05-15 09:47] #354 closed

[2022-05-15 16:42] gabrielginter commented on #677
+1

[2022-05-15 19:49] lumogox commented on #677
+1

[2022-05-16 02:55] juanmanuel0963 commented on #666
This error started when I upgraded flutter to 3.0.0
I've downgraded flutter to 2.10.5 and It's working fine now.

1- Download flutter 2.10.5 from https://docs.flutter.dev/development/tools/sdk/releases
![image](https://user-images.githubusercontent.com/44442325/168511274-e03df0b8-6839-4e3c-a309-e4e965c2760a.png)

2- Edit environment variables pointing to your flutter 2.10.5 folder
![image](https:/

[2022-05-16 03:02] Manishmg3994 commented on #677
in how much days you will upgrade it for flutter 3

[2022-05-16 03:25] lqmminh commented on #677
big issue

[2022-05-16 05:13] littleGnAl commented on #677
The upgrade is done https://github.com/AgoraIO/Agora-Flutter-SDK/pull/680, but still waiting for the internal testing done, I think it should be released in the next few days.

[2022-05-16 05:41] bermohmtnm opened #681 "':agora_rtc_engine:compileDebugKotlin'."
i was using` agora_rtc_engine: ^5.1.1` with `flutter sdk 2.10.5` stable everything was working correctly and  I was enjoying with it but when install the latest `flutter ask which is 3.0.0` i got this error message when i pub get my project

[code]

flutter doctor
[code]
Note : when i change my `flutter sdk to 2.10.5`, everything work correctly
any help please ?

[2022-05-16 06:04] IsmailAlamKhan commented on #677
thats great.

[2022-05-16 06:05] littleGnAl commented on #681
Duplicated https://github.com/AgoraIO/Agora-Flutter-SDK/issues/677

[2022-05-16 06:05] #681 closed

[2022-05-16 06:07] littleGnAl commented on #671
@maxxfrazer This is caused by the limitation of the current implementation.

[2022-05-16 09:27] ShawermaBox commented on #666
or just use `flutter downgrade v2.10.5` in the terminal

[2022-05-16 14:09] Ben-chedli opened #682 "No connection between Agora 5.1.1 (web) and Agora 3.2.1 (Android)"
We're using Flutter and planning on publishing a web version of our app using the latest version of the Agora package (5.1.1)
https://pub.dev/packages/agora_rtc_engine/versions/5.1.1.
The bug occurs  when we try to establish a connection between that version and our android published app using agora package (3.2.1)
https://pub.dev/packages/agora_rtc_engine/versions/3.2.1
![image](https://user-imag

[2022-05-16 19:05] EmelianShkira opened #683 "app stuck on in-call volume after destroying rtc engine"
**Describe the bug**
after close channel and destroy agora rtc engine my volume button when i press up or down it stay on calls volume not go back to the default types like music notification alarm sounds so i can't for example change notifications sound cause my phone still show just  in call sound until i close my whole app

**Smartphone (please complete the following information):**
 - Device:

[2022-05-17 06:27] iaohtdev opened #684 "[FLUTTER WEB] - MissingPluginException(No implementation found for method requestPermissions on channel flutter.baseflow.com/permissions/methods)"
i can't run flutter web

Verison :  agora_rtc_engine: ^5.1.1

Please help me, Thanks
Error :
![image](https://user-images.githubusercontent.com/95197224/168743459-b0712c90-a45e-4a2e-b3ed-591eea7477cb.png)

Error: MissingPluginException(No implementation found for method requestPermissions on channel flutter.baseflow.com/permissions/methods)
    at Object.throw_ [as throw] (http://localhost:54054/d

[2022-05-17 11:23] daiki1003 commented on #677
+1 still happening

[2022-05-17 13:07] littleGnAl commented on #684
@iaohtdev Can you provide some code for your case?

[2022-05-17 13:08] littleGnAl commented on #683
Can you provide a reproducible demo or code for this case?

[2022-05-17 14:21] littleGnAl commented on #677
We're so sorry that there's an issue that blocks the release https://github.com/flutter/flutter/issues/103630
You can dependency by git package for a temporary workaround
[code]

but for the disclaimer, it's a dev branch, you should pay attention if you want to use it in production.

[2022-05-17 14:28] littleGnAl commented on #677
We're so sorry that there's an issue that blocks the release https://github.com/flutter/flutter/issues/103630, it caused the [SurfaceView](https://github.com/AgoraIO/Agora-Flutter-SDK/blob/8eee22c8b21f0fad2e795aa5ac44d8e3864db6ac/lib/src/rtc_local_view.dart#L14) always render on the top left, but it works fine with [TextureView](https://github.com/AgoraIO/Agora-Flutter-SDK/blob/8eee22c8b21f0fad2e7

[2022-05-17 20:34] dbrezack commented on #652
This solution does work pretty well. I just implemented it. There still seems to be some issues sharing the actual window (Screen recording is enabled). Tabs work fine. I'll find some time to test out 5.1.1 since it upgraded the WebRTC Sdk and report my findings

[2022-05-17 23:14] heshesh2010 commented on #677
any update?

[2022-05-18 00:41] lqmminh commented on #684
this is from other package, permission_handler not support web

[2022-05-18 03:31] #664 closed

[2022-05-18 04:53] EmelianShkira commented on #683
@littleGnAl
 no I can't but it's like this volume it will stuck lin this mode after destroy engine in communications mode
![IMG_20220518_075148.jpg](https://user-images.githubusercontent.com/46813666/168959854-c7ff50ae-1284-4681-a380-e620e5524cbf.jpg)

[2022-05-18 07:20] daiki1003 commented on #677
This workaround works well for me! Thanks :)

[2022-05-18 08:13] #666 closed

[2022-05-18 14:26] gabrielginter commented on #677
@littleGnAl  It seems the issue [flutter/flutter#103630](https://github.com/flutter/flutter/issues/103630) has been closed and an explanation has been given.

[2022-05-19 09:25] musthafa1996 commented on #677
@littleGnAl, do we have performance difference between SurfaceView and TextureView?

[2022-05-20 04:13] Dararii commented on #677
Flutter 3.0.1 has been released by now. Does it contain the fix for the issue?

[2022-05-20 10:13] littleGnAl commented on #677
Not yet.

[2022-05-20 10:17] littleGnAl commented on #677
In Flutter, the performance of TextureView is better than the SurfaceView.

[2022-05-20 12:27] littleGnAl commented on #684
@lqmminh Thanks, good catch.

[2022-05-20 13:42] alimajid124 commented on #677
Execution failed for task ':agora_rtc_engine:compileDebugKotlin'.

e: C:\src\flutter\.pub-cache\hosted\pub.dartlang.org\agora_rtc_engine-4.2.2\android\src\main\kotlin\io\agora\agora_rtc_engine\AgoraRtcEnginePlugin.kt: (146, 18): Type mismatch: inferred type is String? but String was expected
e: C:\src\flutter\.pub-cache\hosted\pub.dartlang.org\agora_rtc_engine-4.2.2\android\src\main\kotlin\io\agor

[2022-05-20 14:03] alimajid124 opened #686 "AgoraUikit is not working"
Execution failed for task ':agora_rtc_engine:compileDebugKotlin'.

A failure occurred while executing org.jetbrains.kotlin.compilerRunner.GradleCompilerRunnerWithWorkers$GradleKotlinCompilerWorkAction
Compilation error. See log for more details

e: C:\src\flutter.pub-cache\hosted\pub.dartlang.org\agora_rtc_engine-4.2.2\android\src\main\kotlin\io\agora\agora_rtc_engine\AgoraRtcEnginePlugin.kt: (146

[2022-05-20 14:39] littleGnAl commented on #677
Sorry for blocking your guys' upgrade, we have fixed this issue by changing the underly implementation, please try `agora_rtc_engine: ^5.2.0`.

[2022-05-20 14:42] alimajid124 commented on #686
@littleGnAl , Sir, i am using agoraUIkit, so i dont need agora_rtc_engine. also tell me what version should i use of flutter.

[2022-05-20 14:47] littleGnAl commented on #686
I think downgrade Flutter SDK to 2.10.5 should works fine, please try to run `flutter clean` first.

[2022-05-20 14:49] gabrielginter commented on #677
@littleGnAl should we upgrade to Flutter v3.0.1?

[2022-05-20 14:50] littleGnAl commented on #677
It should be compatible with Flutter SDK 3.0.x

[2022-05-20 14:52] alimajid124 commented on #686
@littleGnAl , run project with flutter clean
using only AgoraUIkit:

e: C:\src\flutter\.pub-cache\hosted\pub.dartlang.org\agora_rtc_engine-4.2.2\android\src\main\kotlin\io\agora\agora_rtc_engine\AgoraRtcEnginePlugin.kt: (146, 18): Type mismatch: inferred type is String? but String was expected
e: C:\src\flutter\.pub-cache\hosted\pub.dartlang.org\agora_rtc_engine-4.2.2\android\src\main\kotlin\io\ag

[2022-05-20 14:58] alimajid124 commented on #677
I am using agoraUIkit. Not agora-rtc-engine. Still get this error

On Fri, 20 May 2022, 7:51 pm Littlegnal, ***@***.***> wrote:

[2022-05-20 14:59] littleGnAl commented on #686
I think this error was caused by the user using the Flutter SDK 3.0 to build it, downgrade Flutter SDK to 2.10.5 should fix this error.

[2022-05-20 15:01] alimajid124 commented on #686
I have downgrade it to 2.10.5  still have this error😔
I am using agoraUIkit

On Fri, 20 May 2022, 7:59 pm Littlegnal, ***@***.***> wrote:

[2022-05-20 15:09] IsmailAlamKhan commented on #677
You would have to wait for an update of agoraUIkit to use the latest agora_rtc_engine.

[2022-05-20 15:16] littleGnAl commented on #686
Maybe you can try invalidate caches on Android Studio
<img width="290" alt="image" src="https://user-images.githubusercontent.com/8847263/169559094-b2acb3ae-329d-4bd8-917b-815eab66a88f.png">

[2022-05-20 15:48] IsmailAlamKhan commented on #677
The issue is fixed on the latest version of agora_rtc_engine and it works on flutter 3.0.1 too.

[2022-05-21 10:48] nizwar opened #687 "Connection problem with Agora"
**Describe the bug**
Suddenly agora not working and sounds like robotic while using some services carrier, and i think its not only on our app, it almost into all apps that use agora services such as our competitor.

when i print networkQuality it said tx = Unknown, rx = Unknown

**To Reproduce**
1. Implement your agora code
2. Use vodafone's carrier service, especially in qatar this problem occur

[2022-05-21 11:00] Manishmg3994 commented on #677
**but found the new update is still not working with flutter 3.0.1
[code]

[2022-05-21 11:02] duhanbalci commented on #677
use  `agora_rtc_engine: ^5.2.0`

[2022-05-23 03:09] littleGnAl commented on #682
How about the android APP base on `agora_rtc_engine: 5.1.1`?

[2022-05-23 08:29] OHeroJ opened #688 "The plugin is too large, what is the optimization method? Can it be integrated on demand?"
插件体积过于庞大，有何优化手段？能否按需集成

[2022-05-23 10:50] maxxfrazer commented on #688
Can you see which files are too large for your environment? Is it files included in previous commits on this repo?

[2022-05-23 19:53] famarrero commented on #679
i have the same problem, any solution?

[2022-05-23 20:40] gson2019 commented on #288
@RoJoHub Do we have any updates on this issue ?

[2022-05-24 00:27] OHeroJ commented on #688
![8861653351979pic](https://user-images.githubusercontent.com/12316547/169924889-c643cd5e-9cdb-461c-a399-9ad00c504cf9.jpg)

[2022-05-24 06:15] maxxfrazer commented on #688
that what i thought, i saw before that these framework files were uploaded to previous commits from a long time ago.
@littleGnAl the repo is, i believe, over 300mb because of these mistakenly uploaded frameworks. would expect it shouldn't be more than 10mb.

could you look at stripping the large files out? i'm happy to do it if you're not able to right now, all people with clones will need to pull

[2022-05-24 07:12] Ben-chedli commented on #682
Hi @littleGnAl , sorry for the late reply, connection works from agora_rtc_engine: 5.1.1 (Web) to agora_rtc_engine: 5.1.1 (Android) with the provided example, we wanted to confirm that there can be issues to connect with lower versions of the package before upgrading our app.

[2022-05-24 10:08] kumar8983 commented on #340
Also can reduce the size using this filter

 defaultConfig {
       .........
ndk {
            abiFilters 'arm64-v8a', 'armeabi-v7a'
        }
}

[2022-05-25 04:08] mikemilla opened #689 "Various Video Call web bugs"
**Describe the bug**
1. Safari, iOS 15.4.1 (iPhone 13 Pro) — Local and Remote videos do not render (Video does broadcast and can be seen by other participants)
2. Chrome 101.0.4952.61, Android 12 (Pixel 3A) — Same issue as 1
3. Safari 14.0.2, MacOS 11.1 (Macbook Pro 2014) — Video freezes after a few seconds (Could be related to old browser version)

**To Reproduce**
Join a video call via the mobil

[2022-05-26 03:34] #659 closed

[2022-05-26 07:25] dengking opened #690 "Windows plugin fails to compile when example is run"
error:

![image](https://user-images.githubusercontent.com/14926769/170439034-74a73c23-625d-47d5-b6ee-026fc51e8296.png)

[2022-05-26 14:18] NaarGes commented on #483
I was facing same issue and this solution worked for me

[2022-05-26 15:09] littleGnAl commented on #690
Hello @dengking , are there any files in the path `Agora-Flutter-SDK/windows/third_party/iris` path?

[2022-05-26 15:17] littleGnAl commented on #688
@maxxfrazer This is not that issue.

[2022-05-26 15:25] littleGnAl commented on #682
How about the connection between the agora_rtc_engine: 5.1.1 (Android) and  the agora_rtc_engine: 3.2.1 (Android)

[2022-05-26 18:59] Ben-chedli commented on #682
Hi @littleGnAl , yes connection agora_rtc_engine: 5.1.1 (Android/iOS) and the agora_rtc_engine: 3.2.1 (Android/iOS) works well

[2022-05-27 05:41] steveseow commented on #665
Have the described issue here on a 2017 MBP, but not on a 2021 MBP. Both with Intel.

[2022-05-27 08:12] dengking commented on #690
都是中国人，那就被说英语了。

![image](https://user-images.githubusercontent.com/14926769/170659281-2f52d0d6-0fa4-4efb-aa4d-5570271f6c24.png)

[2022-05-27 14:55] littleGnAl commented on #690
@dengking Can you try to delete the `third_party/iris` and build again?

[2022-05-27 14:59] littleGnAl commented on #690
We encourage to use English so that the people can understand what's went wrong more easily if they encounter this issue.

[2022-05-29 07:08] jmlarbaig commented on #645
He @littleGnAl I'm sorry, I was buzy until now but I can answer,

So my code is that :

  Future<void> handleTimeout() async {
    setState(() {
      _counter++;
    });
    print(_counter);
    print(directory);
    watermarkConfig.positionInLandscapeMode = Rectangle(
        x: (MediaQuery.of(context).size.width.toInt()) ~/ 2,
        y: (MediaQuery.of(context).size.height.toInt()) ~/ 2,

[2022-05-29 07:09] jmlarbaig commented on #645
This handleTimeOut function is called at the begging of the main code. My aim is to change the picture every second but for the moment, I just want to stream with only one

[2022-05-30 04:09] user97116 opened #691 "Question - How to create multiple RTC channel with or without token and with listener?"
I tried
var rtc = await RtcChannel.create(channelId);
rtc.setEventHandler(handler)

it not listens and not works.

[2022-05-30 04:19] #670 closed

[2022-05-30 04:19] #674 closed

[2022-05-30 05:14] #669 closed

[2022-05-30 06:04] littleGnAl commented on #645
Hello @jmlarbaig, can you try add `await` before `_engine.getAssetAbsolutePath("images/test.png")` and `_engine.addVideoWatermark(path, watermarkConfig)`

[2022-05-30 06:06] littleGnAl commented on #691
Hello @user97116, can you check the example for reference
https://github.com/AgoraIO/Agora-Flutter-SDK/blob/master/example/lib/examples/advanced/join_multiple_channel/join_multiple_channel.dart

[2022-05-30 06:15] user97116 commented on #691
@littleGnAl already checked, I followed according to example but it cause platform exception when I join or leave channel

[2022-05-30 06:23] littleGnAl commented on #691
Do you create `RtcEngine` first?

[2022-05-30 06:24] user97116 commented on #691
Yes,  init engine then I create rtc channel

[2022-05-30 06:28] jmlarbaig commented on #645
I alreeady try to add it but nothing change, the path is ok, png also, visibleInpreview is turn on on True and startPreview too

[2022-05-30 06:34] littleGnAl commented on #691
Can you show your code?

[2022-05-30 06:52] littleGnAl commented on #682
Hello @Ben-chedli, do you mind uploading SDK logs so that we can analyze the problem more easily.
[code]
But you will need to provide the `channelId` and the `uid` that pass to `joinChannel` function.

[2022-05-30 09:11] good-good-study opened #692 "如何接受别人的邀请"
使用场景： A用户、B用户。
A用户发起视频通话，B用户如何接到视频邀请？

[2022-05-30 09:20] nizwar commented on #687
I've open ticket on agora support, and it turned out that the vodafone carrier was blocked your VoIP, and then they suggest me to use SDK 3.7.0 while it was only available for iOS Native @LichKing-2234 @littleGnAl kindly upgrade it please

[2022-05-30 09:20] #687 closed

[2022-05-31 09:18] zitob9 opened #694 "Gradle problem on implementation"
**Describe the bug**

I want to remove unnecessary extension libraries to Reduce App Size, but when I follow instructions on https://docs.agora.io/en/Interactive%20Broadcast/reduce_rtc_app_size#remove-extension-libraries-when-using-maven-central

I add this code to the Gradle file:

[code]

then I get this error:

[code]

i use agora_rtc_engine 5.2.0  (flutter)

[2022-05-31 09:19] littleGnAl commented on #687
Thanks, @nizwar, we will upgrade the native SDK 3.7.0 on the next release

[2022-06-01 05:12] user97116 commented on #691
@littleGnAl  when I use await like  await customChannel?.setClientRole(ClientRole.Broadcaster); it throw below error and without await it works fine. note this setClientRole is future method. and this happend in most of the methods in agora. I used agora_rtc_engine 5.2.0
flutter 3.0.1

// init agora
[code]
// custom channel
[code]

[code]

[2022-06-01 12:58] Ben-chedli commented on #682
Hi @littleGnAl sorry for the late reply, we're quite busy trying to figure this issue out as it is a top priority for our business, we finally managed to update our app to work with the latest Flutter sdk and Agora versions, the result was that it works great with desktop web agora but not on mobile browser!
Is this a known issue that you are aware off ?

![cap](https://user-images.githubuserconte

[2022-06-01 15:29] Ben-chedli commented on #682
@littleGnAl we lastly tried the example code provided in https://pub.dev/packages/agora_rtc_engine/example and the result was the same when the app is deployed ..

![config](https://user-images.githubusercontent.com/64413708/171442036-59fe6a1e-7731-448b-9c0b-47a035a8e143.jpg)
![im_1](https://user-images.githubusercontent.com/64413708/171441899-faf91dcd-d3db-482c-b46f-b0f36a9da05c.jpg)

[2022-06-02 03:14] littleGnAl commented on #682
Hello @Ben-chedli, we have tested the connection of web (agora_rtc_engine: 5.1.1) and Android (agora_rtc_engine: 3.2.1), but it works fine, so it's better to analyze the SDK log to see what actually happen.

[2022-06-02 04:02] user97116 opened #695 "E/flutter ( 5005): [ERROR:flutter/lib/ui/ui_dart_state.cc(209)] Unhandled Exception: PlatformException(-4, not supported, null, null)"
when I use await like await customChannel?.setClientRole(ClientRole.Broadcaster); it throw below error and without await it works fine. note this setClientRole is future method. and this happend in most of the methods in agora. I used agora_rtc_engine 5.2.0
flutter 3.0.1

// init agora
[code]
// custom channel
[code]
E/flutter ( 5005): [ERROR:flutter/lib/ui/ui_dart_state.cc(209)] Unhandled Excepti

[2022-06-02 07:43] Ben-chedli commented on #682
Hi @littleGnAl , i have now added the logConfig and run the app, one more specification is that we have upgraded our app to agora_rtc_engine: 5.1.1 now and not using agora_rtc_engine: 3.2.1 anymore! A new issue seems to be that the web version runs fine on the PC web browser but doesn't run on the android device browser !
//*From windows chrome browser*/

![im_2](https://user-images.githubusercont

[2022-06-02 09:09] #676 closed

[2022-06-02 10:38] Ben-chedli commented on #531
@LichKing-2234 i am now facing the same issue when i run a deployed version of our web app on a mobile browser, we're using agora_rtc_engine: 5.1.1 and just copy/pasted the code from this example https://pub.dev/packages/agora_rtc_engine/example
works fine on desktop browser but not on device browser after deploying !

![im_2](https://user-images.githubusercontent.com/64413708/171611896-ac54044f-b

[2022-06-02 11:42] alimajid124 commented on #677
Please help me.. agoraUIkit is not working in flutter update. I need
solution as i have to release my app for production

On Sat, 21 May 2022, 4:02 pm Duhan BALCI, ***@***.***> wrote:

[2022-06-02 11:47] alimajid124 commented on #686
Please help me...AgoraUIkit is not working in flutter update. I have to
release app within a week . Please tell when update will come.

On Fri, 20 May 2022, 8:17 pm Littlegnal, ***@***.***> wrote:

[2022-06-02 11:48] alimajid124 commented on #677
@littleGnAl Please help me.. agoraUIkit is not working in flutter update. I need
solution as i have to release my app for production.

[2022-06-02 12:19] littleGnAl commented on #677
@alimajid124 I think it's better not to upgrade the Flutter SDK 3.x at this time if the AgoraUIkit is not supported yet

[2022-06-02 12:24] alimajid124 commented on #677
I have degraded flutter version still stuck with the same issue

On Thu, 2 Jun 2022, 5:19 pm Littlegnal, ***@***.***> wrote:

[2022-06-02 13:27] littleGnAl commented on #677
@alimajid124  I think providing a reproducible demo for your case is helpful

[2022-06-03 05:09] #656 closed

[2022-06-03 05:09] #678 closed

[2022-06-03 12:03] Ben-chedli commented on #494
Hi @LichKing-2234 , any updates about this issue ? We're facing the same problem with agora_rtc_engine: ^5.1.0, after deploying our web app video chat feature is working well with desktop web agora but not on mobile browser !

[2022-06-06 06:48] littleGnAl commented on #695
-4 means you call an unsupported function of the specific platform, it there any other function you called?

[2022-06-06 06:49] littleGnAl commented on #692
See our API example for reference
https://docs.agora.io/cn/Video/start_call_android?platform=Android

[2022-06-06 06:50] littleGnAl commented on #694
Sorry that it's not supported after `agora_rtc_engine: 5.0.0`

[2022-06-06 06:51] user97116 commented on #695
I am using android @littleGnAl

[2022-06-06 06:53] user97116 commented on #695
all this methods @littleGnAl
[code]

[2022-06-06 06:56] littleGnAl commented on #695
Can you try temporary comment out the ` _mediaRecorder?.startRecording(MediaRecorderConfiguration(storagePath: p));`

[2022-06-06 07:03] user97116 commented on #695
commented but same error @littleGnAl
`[ERROR:flutter/lib/ui/ui_dart_state.cc(209)] Unhandled Exception: PlatformException(-4, not supported, null, null)`

note: when I removed await then it works with await it causes same error

[2022-06-06 09:41] programmermasrawy commented on #658
i have the same problem
gives me :
rtc_engine_event_handler.cc:56 onError err 1017 msg
is there any magic solution for this i 've got mad for that...

[2022-06-06 09:49] nathanielajayi7 commented on #658
Falling back to Agora 4.x fixed this issue for me

On Mon, Jun 6, 2022, 10:42 programmermasrawy ***@***.***>
wrote:

[2022-06-06 21:47] zitob9 commented on #694
ok, bro thanks for the information.

[2022-06-07 03:48] littleGnAl commented on #691
Can you try paste your appid in our example to see it works or not?
https://github.com/AgoraIO/Agora-Flutter-SDK/blob/050949cf3229aa72e49e9f8a8564b5a9bfc59e71/example/lib/config/agora.config.dart#L5

[2022-06-07 05:05] user97116 commented on #691
@littleGnAl I already tried example project but still same error.

[2022-06-07 05:21] Anilkumar18 commented on #615
Hi @KalanaPerera

Glad you were able to implement this in your app. I have completed the Android part implementation as mentioned above, but I'm not an IOS dev, so I'm struggling with the iOS implementation of the same. Can you guide me on how you implemented this in your app

[2022-06-07 12:27] littleGnAl commented on #695
It's there any log from the error callback?

[2022-06-07 13:18] #684 closed

[2022-06-07 15:04] liangdas opened #696 "iOS存在崩溃现象"
**Describe the bug**
[5.0.1-rc.1](https://github.com/AgoraIO/Agora-Flutter-SDK/compare/v5.0.0...v5.0.1-rc.1) (2022-03-13)

出错堆栈

0	CoreFoundation
___exceptionPreprocess + 216
1	libobjc.A.dylib
_objc_exception_throw + 56
2	CoreFoundation
-[CFPrefsSearchListSource addManagedSourceForIdentifier:user:]
3	Foundation
-[NSAssertionHandler handleFailureInMethod:object:file:lineNumber:description:] + 128
4

[2022-06-07 15:11] littleGnAl commented on #696
This bug should be fixed, please try `agora_rtc_engine: 5.2.0`.

[2022-06-08 01:57] liangdas commented on #696
agora_rtc_engine: 5.2.0 更穿山甲短视频SDK冲突，会直接崩溃，因为这个原因才降级到[5.0.1-rc.1](https://github.com/AgoraIO/Agora-Flutter-SDK/compare/v5.0.0...v5.0.1-rc.1)

[2022-06-08 06:16] VonZen commented on #465
3.5.0.4 reproduce

[2022-06-08 06:16] VonZen opened #697 "3.5.0.4 reproduce"
3.5.0.4 reproduce

_Originally posted by @VonZen in https://github.com/AgoraIO/Agora-Flutter-SDK/issues/465#issuecomment-1149506375_

[2022-06-08 12:06] littleGnAl commented on #696
Is there any crash log of `agora_rtc_engine: 5.2.0`

[2022-06-10 05:06] wsb1689 commented on #650
@luongdong059 have you solved this question at versions 3.4.6

[2022-06-10 08:17] OHeroJ opened #698 "Sending a message before the FlutterEngine has been run."
[code]

[2022-06-10 17:56] ali-hajeh opened #699 "The symbol is packaged unexpectedly, we will fix it in the next release, you can add the `packagingOptions` to your `build.gradle` file to temporarily remove it at this time"
The symbol is packaged unexpectedly, we will fix it in the next release, you can add the `packagingOptions` to your `build.gradle` file to temporarily remove it at this time
[code]

_Originally posted by @littleGnAl in https://github.com/AgoraIO/Agora-Flutter-SDK/issues/631#issuecomment-1074780686_

The agora package in flutter is increasing my application size by 30 mb which is absolutely ridicul

[2022-06-10 23:08] ali-hajeh commented on #699
@littleGnAl

[2022-06-13 04:06] Hwan-seok opened #700 "Crash on killing application"
**Describe the bug**
[code]
[code]

**Smartphone (please complete the following information):**
 - Device: IOS

[2022-06-13 05:14] good-good-study commented on #340
还有其他可以减小app size 的方法吗？
 ndk {
            abiFilters 'armeabi-v7a', 'arm64-v8a'//, 'x86'
        }
这两个平台打包后，Agora的大小至少在 32M，还是挺大的了，如何去除不需要的依赖库呀？

![截屏2022-06-13 13 10 19](https://user-images.githubusercontent.com/20188392/173284231-4cf871ae-f91d-4fdb-89a6-3d5e44d6d73c.png)

[2022-06-13 12:50] littleGnAl commented on #700
@Hwan-seok Thanks for reporting, we will fix it on the next release.

[2022-06-14 02:13] lotus-x commented on #699
Such a small issue still not fixed, disappointed.

[2022-06-14 08:21] littleGnAl commented on #699
The symbol had been removed, you can try `agora_rtc_engine: ^5.2.0`.
I think the config should be working fine, you can view what caused the increasing size on Android Studio of your APK.

[2022-06-14 08:23] littleGnAl commented on #698
@OHeroJ Thanks for reporting, can you describe more detail for your case?

[2022-06-14 15:38] atleugim commented on #650
This is still happening to me on a Flutter 1.22.6 project with v3.3.3 agora plugin

[2022-06-15 09:58] liangdas commented on #696
没有捕获到崩溃日志，就是闪退了
Lost connection to device.

-[AVMDLDataLoader _removeRepeatedUrls:] [Line 459] test code Urls before: (
    "http://v6-opensdksv.onewsvod.com/1b594757a8d56c94ad397f9f10859cb3/62b29e91/video/tos/cn/tos-cn-ve-0022/d0f4b8e084f54bc585ffbde20014f9ac/?a=34&ch=0&cr=1&dr=6&er=0&lr=toutiao_open&cd=0%7C0%7C0%7C1&cv=1&br=548&bt=548&cs=1&ds=6&ft=eltnY22Hjal9MyBMyqsQ1-C5qSYkf81EDtG4KUYxAq8&mime

[2022-06-15 10:58] littleGnAl commented on #695
Have you called `setChannelProfile` function?

[2022-06-15 20:59] Zohalmohal opened #701 "Why do we need Agora App ID?"
I am interested to know, if the Agora is a completely open source and free SDK/library, why do we need to signup on their site and grab APP ID and all the example codes need this APP ID?

Is that mean we don't have access to complete code and Agora works like an API and maybe in future it won't be free to use?

[2022-06-16 02:47] LichKing-2234 commented on #701
The underlying SDK uses the SDK of the sound network. The SDK itself is not open source, and it can only be used after registering Agora appid. The open source of the shutter SDK is the wrapper part of the upper layer. Then, whether you use the fluent SDK or the native SDK, you can use the newly registered account for 10000 minutes free every month. This behavior is common.

[2022-06-16 06:47] littleGnAl commented on #696
@liangdas It seems I can not get more information about the crash from the logs, I think a reproducible example may be helpful.

[2022-06-17 15:09] #690 closed

[2022-06-22 10:44] user97116 opened #705 "Mobile heat so much due to agora and switchh off"
I am using latest version of agora and flutter but still same overheating issues

[2022-06-24 01:45] plutoless commented on #705
which device you are using? media encoding/decoding naturally cost more than normal mobile activities. the heat could be affected by various reasons: e.g. video resolution, device capabilities etc.

[2022-06-24 03:20] user97116 commented on #705
my device is decent I playend decent games with no heat issues. in agora I am facing heat issues sometimes when I am streaming 480p video resolution...inject stream to youtube or facebook with in build agora recording. this heat so much I see device warning temp. is too high and sometimes device off.

[2022-06-24 21:35] blopker commented on #675
Bump. Any update on this?

[2022-06-25 07:12] ArcherEmiya05 commented on #344
Please avoid this kind of answer, I check the README and it doesn't help at all about this issue. README content is also ever-changing.

[2022-06-25 08:36] waqadArshad commented on #358
@LichKing-2234 here is my code and the uid is not null.

[code]

This error comes for the first one or two tries after opening the app everytime I open the app and try to initiate a call and on the third or maybe 4th try. it works. what could be the possible reason?

[2022-06-27 03:11] littleGnAl commented on #675
@blopker
Sorry for the late response, you can set the `VideoOutputOrientationMode` to `VideoOutputOrientationMode.FixedPortrait` for a workaround at this time.
[code]

[2022-06-27 03:13] littleGnAl commented on #358
Hello @waqadArshad , is possible to share the implementation of the joinChannel?

[2022-06-27 03:23] blopker commented on #675
Thanks, we'll give it a try. Is this something the Agora SDK will do automatically in the future?

[2022-06-27 06:56] iaohtdev opened #706 "Can't run with flutter web"
I used agora_rtc_engine: ^5.2.0 but i can't run program.

This is error "

![image](https://user-images.githubusercontent.com/95197224/175878045-5bf6e7a2-4fce-4c31-b1e1-9e8c9a48cf94.png)

[2022-06-27 06:57] littleGnAl commented on #504
This should be fixed on `agora_rtc_engine: 5.2.0`.

[2022-06-27 06:58] littleGnAl commented on #706
I think you should ensure that your AppID is valid.

[2022-06-27 08:09] #692 closed

[2022-06-27 13:27] bhavin-concetto opened #707 "Unable to start Channel Media Relay"
**Describe the bug**
I have implemented Media Relay functionality as per described: https://docs.agora.io/en/Interactive%20Broadcast/media_relay_android?platform=Android

**To Reproduce**
Steps to reproduce the behavior:
1. create two channel
2. call startChannelMediaRelay
3. called ChannelMediaRelayStateChanged with ServerErrorResponse

**Expected behavior**
There should be some mechanism to know

[2022-06-27 15:02] duck-dev-go opened #708 "Initialization on web does not seem to await"
**Describe the bug**
I get the following bug when creating the engine in my main function for flutter web

[code]

**To Reproduce**
Put this in you main function and run on flutter web

[code]

but if you put this in you main function

[code]

it does work. But this is unreliable. The creation should be awaited.

**Expected behavior**
The intialization of the engine to be awaited

**Desktop (pleas

[2022-06-27 16:27] AndriiVivcharenko opened #709 "[iOS] Local and remote audio disappears for seconds."
**Context:**
I have a group call functionality with additional improvements. Basically, it shows a short looping video locally for each user, and the video changes frequently, average each 30-40 seconds.

**Issue:**
Whenever it starts showing the video agora audio disappears for seconds and then starts playing again.
The issue happens only when initializing video controller ~~the initialized video

[2022-06-27 19:23] Prowtonz commented on #650
Has anyone been able to find a solution? I'm also getting the `Could not find native-full-sdk-3.4.6.jar (com.github.agorabuilder:native-full-sdk:3.4.6)` error.

[2022-06-27 20:56] waqadArshad commented on #358
@littleGnAl Hi, thanks for getting back to me. the thing is that the version of the plugin I was using was a bit old and this error went away after updating the plugin version. But I am still getting another error if u can help me with that, please have a look here: [PlatformException(-17, request to join channel is rejected, null, null) Or when I end the call PlatformException(-7, , null, null)](

[2022-06-28 02:08] bsabhi commented on #675
using the WEB SDK, I don't see any workaround to this issue/limitation expect from manually rotating the container.
In my case the web SDK communicates with IOS, does this mean IOS SDK should specify orientationMode?
@blopker could you update us with your findings? thanks!

[2022-06-28 08:25] littleGnAl commented on #675
@bsabhi
This should be set on the native side, say that set it on iOS in your case.

[2022-06-29 00:11] duck-dev-go opened #710 "Disabling logging does not seem to work"
**Describe the bug**
Disabling logging does not seem to work

**To Reproduce**
Put this code in you main function of your flutter project

[code]

**Expected behavior**
No logs from agora

**Desktop (please complete the following information):**
 - Macbook m1 pro
 - Google Chrome latest version
 - Flutter 3.0.1
- Package Agora: 5.2.0

[2022-06-29 10:06] codetowa commented on #434
In my case the issue was on Android 12 device, needed to add this permission
[code]
according to
https://docs.agora.io/en/Voice/faq/ios_bluetooth?platform=Android

While trying to solve it I was able to use the bluetooth speaker by using [FlutterAudioManager ](https://pub.dev/packages/flutter_audio_manager) package and using it like this (the rest of the code is from suggestions that I've found on

[2022-06-29 13:19] #697 closed

[2022-06-30 13:34] littleGnAl commented on #707
Can you try our example to see if it works or not?
https://github.com/AgoraIO/Agora-Flutter-SDK/blob/master/example/lib/examples/advanced/channel_media_relay/channel_media_relay.dart

[2022-06-30 13:35] duck-dev-go commented on #708
I can also not call it on the splash screen in a initState() I will get the same error. It will only work with a 1 second delay.

[2022-06-30 13:36] duck-dev-go commented on #710
Is there a way to disable the logging?

[2022-07-01 10:52] AndriiVivcharenko commented on #709
Hey

It didn’t fix.
I made a mistake in the issue description, it happens when "initialize" method is executed on a video controller.
I also download the video file before initialization, but the same thing happens if I use the network video controller through the URL.

That’s the updated output when it kills audio session:
[code]

[2022-07-01 11:18] bhavin-concetto commented on #707
@littleGnAl  We have tried this but look like it is Agora server issue so raised ticket in Agora support.

[2022-07-01 11:18] #707 closed

[2022-07-01 11:44] plutoless commented on #709
@AndriiVivcharenko how do you play your video?

[2022-07-01 11:52] plutoless commented on #709
and when did you call this api? did you call it before you join channel?
`setParameters("{\"che.audio.keep.audiosession\": true}")`
my guess is your player is somehow trying to modify audiosession which violates our settings, our sdk will try to recover this when it happens, and the audio lost should be caused by this. The api above means sdk release the audio session control to you so it should a

[2022-07-01 12:24] AndriiVivcharenko commented on #709
I play it using video_player plugin 2.4.5

my video initialization code:

[code]

I forgot to add await setParameters in async execution.
Call it right after creating RtcEngine instance, before joining channel

The `AVAudioSession_iOS` is gone, but the same thing happens with audio and still getting 1029 warning.

[2022-07-01 12:41] AndriiVivcharenko commented on #709
Seems like if I don’t use mixWithOthers option it works fine.

then 1029 warning makes sense.

https://developer.apple.com/documentation/avfaudio/avaudiosessioncategoryoptions/avaudiosessioncategoryoptionmixwithothers

[2022-07-01 12:57] plutoless commented on #709
@AndriiVivcharenko so it works now if you set mixWithOthers to false?

[2022-07-04 16:13] fluttertests commented on #689
same here.

[2022-07-04 19:23] faisal061213 commented on #695
E/flutter ( 4033): [ERROR:flutter/lib/ui/ui_dart_state.cc(198)] Unhandled Exception: PlatformException(null-error, Host platform returned null value for non-null return value., null, null)
how to solve this problem

[2022-07-05 06:33] Ben-chedli commented on #494
@LichKing-2234 , we're still waiting for a reply on this issue, agora still not working on a recent chrome mobile browser after deployment of the web app !

[2022-07-05 08:58] adham-ashraf77 opened #711 "Error when upload an app to app store apple"
<img width="917" alt="Screen Shot 2022-07-05 at 10 56 12 AM" src="https://user-images.githubusercontent.com/55947445/177290701-17e4d7f4-14ca-4e09-8db7-aadb6107c673.png">

seems there are some errors with the agora package with CFBundleShortVersionString must be 3 parts only not 4 can you fix it to complete the upload of the app?

[2022-07-05 09:09] #699 closed

[2022-07-05 10:22] littleGnAl commented on #711
Can you provide the flutter doctor log and which version of `agora_rtc_engine` you used?

[2022-07-05 12:50] matrixccp opened #712 "java.lang.ClassNotFoundException: io.agora.rtc.ss.ScreenSharingClient"
I/AudioManager(25902): In isBluetoothScoAvailableOffCall(), calling appilication: xxxxxx, return value: true
I/AudioManager(25902): In isBluetoothScoOn(), calling application: xxxxxxxx
D/spdlog  (25902): [2022-07-05 20:47:50.214] [0] [debug] /tmp/jenkins/IRIS-SDK/rtc/cxx/src/iris_rtc_engine.cc:114 CallApi ret 0 result
D/spdlog  (25902): [2022-07-05 20:47:50.215] [0] [debug] /tmp/jenkins/IRIS-SDK/r

[2022-07-05 15:56] adham-ashraf77 commented on #711
5.2.0  and 5.1.1 are the same error when upload app store

[2022-07-06 02:23] LichKing-2234 commented on #711
you can find the info.plist file in AgoraRtcWrapper.framework and modify the version to x.x.x before we fix it.

[2022-07-06 05:50] JulianCruz48 opened #713 "Blank screen on remote views Android - WarningCode.Invalid View"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-07-06 06:39] adham-ashraf77 commented on #711
@LichKing-2234
tried to modify the version but didn't work still read the old number because the file generated after
flutter build ios

[2022-07-06 07:13] LichKing-2234 commented on #711
Yes, could pls use Xcode archive to release?

[2022-07-06 07:25] adham-ashraf77 commented on #711
after I use flutter build ios
I open Xcode then product then archive

[2022-07-06 08:51] adham-ashraf77 commented on #711
okay, I will try but when the fix will be released?

[2022-07-06 09:29] LichKing-2234 commented on #711
Yes

[2022-07-06 10:29] adham-ashraf77 commented on #711
@littleGnAl
Can be next week we have an important release and we need to upload the app and the solution you provide that I manually edit the number to 3.6.2 only not working and give the same error that is shown above in the upper image.

[2022-07-06 10:30] plutoless commented on #711
@adham-ashraf77  as @LichKing-2234 mentioned this is because flutter build ios will execute pod install again and overwrite your manual edit. if you can archive the app w/o flutter build then it should work.

[2022-07-06 10:33] adham-ashraf77 commented on #711
@plutoless
I will try again thank you 🙏

[2022-07-07 08:19] #691 closed

[2022-07-07 08:19] #694 closed

[2022-07-07 08:19] #695 closed

[2022-07-07 08:19] #696 closed

[2022-07-07 08:19] #701 closed

[2022-07-08 12:02] LeeeYudE opened #714 "onRecordFrame is not work"
I registerAudioFrameObserver in the AgoraRtcEnginePlugin.kt , it is worked , but on the onRecordFrame Method , the AudioFrame is no data , audioFrame.samples.hasArray() is false.

[2022-07-11 02:47] littleGnAl commented on #714
Hello @LeeeYudE , can you share how your code?

[2022-07-11 02:48] littleGnAl commented on #712
It's an exception caught by the native SDK internally, it's not actually a crash.

[2022-07-11 03:01] littleGnAl commented on #713
Can you check the channelId and uid are valid or not?

[2022-07-11 03:06] LeeeYudE commented on #714
sure，My code is as follows：
https://github.com/LeeeYudE/Agora-Flutter-SDK/blob/master/android/src/main/kotlin/io/agora/agora_rtc_engine/AgoraRtcEnginePlugin.kt

[2022-07-11 03:09] littleGnAl commented on #714
You can try this feature to do this
https://github.com/AgoraIO/Agora-Flutter-SDK#experimental-features

[2022-07-11 03:21] LeeeYudE commented on #714
my code is fork in https://github.com/AgoraIO/Agora-Flutter-SDK，i want to add registerAudioFrameObserver Method in the AgoraRtcEnginePlugin.kt，but it is not work

[2022-07-11 10:49] AndriiVivcharenko opened #715 "[iOS] Event handlers are not called after hot restart"
**Describe the bug**
Whenever I do a hot restart and then join any channel it stops handling events (joinChannelSuccess, userJoined etc). I Didn't pay much attention to this before until I got the same behavior in the release build uploaded to testflight. I don't know when exactly it happens in the release build, but it didn't work for hours and then started working again in the same build.
I crea

[2022-07-12 06:08] littleGnAl commented on #715
Thanks for the report, we will investigate and fix it.

[2022-07-12 06:25] blopker commented on #689
I'm having the same issue as well. No mobile devices see to be able to show video on Flutter web. The same code running in Chrome and Safari on desktop work fine. Mobile devices are transmitting video to desktop, just the mobile devices do not show any local or remote video.

[2022-07-12 08:39] ThangD commented on #547
@LichKing-2234 @littleGnAl Do we have any event to know remote video stats on Web? Thank so much.

[2022-07-12 11:57] amsyary commented on #109
anything.?

[2022-07-12 23:28] blopker commented on #689
I can replicate this with the example app in this repo:

1. In the example app folder, run `flutter run -d chrome`
2. Note the port in which the app launches
3. Run `export PORT=60878 && adb reverse tcp:$PORT tcp:$PORT` with the noted port for PORT
4. Follow the instructions here: https://developer.chrome.com/docs/devtools/remote-debugging/ to debug Chrome on android
5. On the Android device, go t

[2022-07-13 01:58] plutoless commented on #547
@ThangD with web sdk you can get remote video stats via this api
https://docs.agora.io/en/Video/API%20Reference/web_ng/interfaces/remotevideotrackstats.html
maybe you can quickly check if this api is already supported in flutter web.

[2022-07-13 02:32] zwm5000 opened #716 "[Flutter3.0]When will flutter 3.0 be supported"

[2022-07-13 04:42] littleGnAl commented on #716
Please try `agora_rtc_engine: ^5.2.0`

[2022-07-13 17:26] EhisEA commented on #614
how does the audience know who is speaking?

[2022-07-13 19:18] Div-47 opened #717 "provide external video source render in flutter"
As i seen on agora_rtc_engine pub.dev , currently not providing the [Custom Video Source and Renderer] for flutter, my request is , please provide this feature so i can implement the deep ar filter easily. dont know why this feature is not providing in flutter. this is very important to implement the ar filters functionality.

[2022-07-14 12:13] #714 closed

[2022-07-14 12:14] LeeeYudE commented on #714
when i used buffer.flip() , ByteBuffer has no data , so i delete it

[2022-07-14 12:57] littleGnAl commented on #717
Maybe you can check this issue for reference
https://github.com/AgoraIO/Agora-Flutter-SDK/issues/615

[2022-07-15 09:54] vakrolme commented on #183
FYI @LichKing-2234, there are plenty of use-cases where you don't actually need to process raw data in any way whatsoever, you just need to set up a callback function to be triggered whenever a new frame is encoded. That's exactly how I use the plugin currently:

**android/src/main/java/io/agora/rtc/rawdata/base/IVideoFrameObserver.java**
[code]
**android/src/main/kotlin/io/agora/agora_rtc_rawdata

[2022-07-16 07:53] OmarHamed553 commented on #711
i'm having the same issue when will this get resolved i can't upload the app to app store i tried downgrading to 5.0.1 ,5.0.0 , 5.1.0 i also tried with Xcode archive still the same this issue should be resolved immediately !

[2022-07-16 07:55] OmarHamed553 commented on #711
@adham-ashraf77 any luck fixing the issue it would be great to share the temporarily fix you've done if it worked

[2022-07-16 11:08] imrandesign commented on #650
yes solved by this
implementation 'com.github.agorabuilder:native-full-sdk:3.5.2' replace  implementation 'io.agora.rtc:full-sdk:3.5.2'

[2022-07-16 11:31] adham-ashraf77 commented on #711
@OmarHamed553
you can edit the version string form Xcode after archive and the path in error message it works fine for me

[2022-07-16 11:45] OmarHamed553 commented on #711
is it possible to show me a capture of how to change the string form in xCode ?

[2022-07-16 11:45] OmarHamed553 commented on #711
@adham-ashraf77

[2022-07-16 11:55] adham-ashraf77 commented on #711
Can you email me at
adhamashraf51@gmail.com
Because i don't have mac right now

[2022-07-16 11:56] OmarHamed553 commented on #711
sure @adham-ashraf77

[2022-07-16 12:01] OmarHamed553 commented on #711
sent already @adham-ashraf77

[2022-07-18 03:39] #358 closed

[2022-07-18 07:09] #504 closed

[2022-07-18 07:09] #706 closed

[2022-07-18 08:10] Tsagaanbayr1 opened #718 "Detect the other user is in app"
**Is your feature request related to a problem? Please describe.**
My app has a counter in two-person video call sessions. The counter stops when a user is inactive (clicks the home button, locks the screen). I solved the problem by disabling their video on inactive. But the problem appeared after our app got a new user feature muting their local_video.

**Describe the solution you'd like**
Add th

[2022-07-19 01:37] plutoless commented on #718
@Tsagaanbayr1
you may build your own server to keep connection with clients, and use your server to notify other clients that your app is inactive.
we also provide a message sdk maybe you can also consider using that, https://docs.agora.io/en/Real-time-Messaging/landing-page?platform=Windows

[2022-07-19 12:35] maerlynflagg opened #719 "Flutter 3, Agora 5.2.0 - cannot find symbol"
**Describe the bug**
`agora_rtc_engine: ^5.2.0`
`Flutter 3.0.5`

with `flutter build appbundle --release` all is fine and install the bundle over Play Store, all is fine.

but, if i want to debug the app in a Android Simulator (Pixel 3 API 29 template), then it ends in:

[code]
if i try to debug on a real device, the issue still exists.

i'm not sure. i searched on Google and found some solutions:

[2022-07-19 12:46] littleGnAl commented on #719
The integration test is run with the simulator and it works fine, I think it's better to check your build.gradle file to see if there is any configuration that affects the simulator.

[2022-07-19 15:40] fluttertests commented on #494
It works fine if  user uses the "desktop version" option in the mobile browsers. (I tried chrome safari). Fyi developer team.

[2022-07-20 09:20] littleGnAl commented on #711
Please try `agora_rtc_engine: ^5.3.0`.

[2022-07-20 09:40] maerlynflagg commented on #719
for 3 months all worked fine in debugging mode.

for a new app version of my app i have done 3 relevant things:

1. flutter upgrade to version 3.0.5
2. update packages in pubspec.xaml like Agora to 5.2.0
3. the only change in build.gradle: compileSdkVersion from 31 to 33, cause is needed.

so, i downgraded compileSDKVersion back to 31, Flutter back to 2.10.5 and some other packages back to an old

[2022-07-20 09:40] #719 closed

[2022-07-21 12:31] Aanu1995 commented on #715
I experiencing the same issue

[2022-07-22 05:23] sikandernoori opened #720 "Video Freeze on conference call"
For more than 2 users video streaming freezes for 1 user.

1 to 1 user video call is okay.

3 user in a conference freezes video of 1 users.

4 user in a conference freezes video for at-least 1 and max 2 users.

**Sample code:**

[code]

**Platform Tested:**
**Android** 11 & 12.
**IOS**: 15.5

**Useful Logs:**

[code]
Now my concern in case of poor connectivity, video freezing is okay. But it shou

[2022-07-22 05:36] matrixccp commented on #698
[Bugly]  Trapped uncaught exception 'NSInternalInconsistencyException', reason: 'Sending a message before the FlutterEngine has been run.'
(
        0   CoreFoundation                      0x0000000114099604 __exceptionPreprocess + 242
        1   libobjc.A.dylib                     0x0000000116905a45 objc_exception_throw + 48
        2   Foundation                          0x0000000114fb4874 _use

[2022-07-22 10:06] iaohtdev opened #721 "How to screen sharing with Agora in Flutter web?"

[2022-07-22 14:17] Anilkumar18 commented on #615
@Div-47 send your Email, ill mail you the project Github link.

[2022-07-22 14:17] Anilkumar18 commented on #615
https://github.com/PrabakaranPalanisamy/Agora-Flutter-SDK-DeepAR.git

[2022-07-22 17:29] dgilperez opened #722 "5.3 Android - error joining a call: "PlatformException (PlatformException(, Not except type: uid, null, null))""
After upgrading, when I try to join a call I get this `PlatformException`

[code]

This is not happening on 5.2, without any other change.

This happens when calling `joinChannel(null, channelName, null, uid)`

**To Reproduce**
Steps to reproduce the behavior:
1. Wrap your join call on a try-catch
2. Join a call
3. See error captured

**Expected behavior**

Joining a call to proceed.

 - Flutter 3

[2022-07-22 17:48] albaschez commented on #700
Happening with flutter 3.0.5 and versions 5.2 and 5.3. When using `joingCall` the app just crashes, no trace

[2022-07-22 17:48] albaschez commented on #655
Happening with flutter 3.0.5 and versions 5.2 and 5.3. When using `joingCall` the app just crashes, no trace

[2022-07-24 09:18] nizwar opened #723 "Broadcaster can't hear other users, but the others can hear him/her"
In my application, once user take the Mic, we change the user role into broadcaster, sometime this user can be heard by everyone in the room, but he/she can't hear another broadcaster

I'm not sure if it related with my other issue #687, this happened without any logs from crashlytics or very hard to produce (it must be with user with slow connection) and it suddenly happend since last couple week

[2022-07-24 09:22] nizwar commented on #700
Still happened on 5.3.0, i'm not sure if it same issue but i got this from crashlytics
[code]

[code]

[2022-07-24 12:54] littleGnAl commented on #723
agora_rtc_engine: 5.3.0 is based on the native SDK 3.7.0, I think it's better to raise a new ticket to the Agora Support.

[2022-07-24 12:55] littleGnAl commented on #722
Can you show more detail about the stack trace of this exception?

[2022-07-25 07:02] user97116 commented on #340
@LichKing-2234 @good-good-study
is there any way to reduce agora size on flutter? quit large even applying with abi filters.

[2022-07-25 08:47] littleGnAl commented on #700
Is there any reason output for `NSInternalInconsistencyException`?

[2022-07-25 09:08] acanteroruiz commented on #722
that´s the stacktrace with the error @dgilperez commented

` [0m
[log] [31m PlatformException(, Not except type: uid, null, null) [0m
[log] [31m #0      StandardMethodCodec.decodeEnvelope (package:flutter/src/services/message_codecs.dart:607:7)
#1      MethodChannel._invokeMethod (package:flutter/src/services/platform_channel.dart:167:18)
<asynchronous suspension>
#2      _LiveVideoViewState._

[2022-07-25 09:25] littleGnAl commented on #722
@acanteroruiz
Can you share what's the type of `uid`?

[2022-07-25 09:32] littleGnAl commented on #721
I think the `RtcEngine.startScreenxxxx` should work on the web.

[2022-07-25 09:38] acanteroruiz commented on #722
Hi @littleGnAl , uId is type String

[2022-07-26 02:43] ThangD opened #724 "Web - Local preview not show if NOT joined channel"
Describe the bug
Run the example on web, run "JoinChannelVideo", preview of local is NOT show if not joined channel

To Reproduce
Steps to reproduce the behavior:

1.Run example on Web
2.Run JoinChannelVideo
3. Local video preview not show
4. Click Join channel
5. Local video preview is working

Additional context: Working on the desktop

[2022-07-26 03:12] ThangD opened #725 "Window build - agora-iris.log error with permission denied"
**Describe the bug**
Permission denied of logging when build the installer of window

**To Reproduce**
Steps to reproduce the behavior:
1. Create window build with: flutter pub run msix:create
2. Installing the build on window
3. The error of permission denied as image attached
![image](https://user-images.githubusercontent.com/7744981/180915140-a9655d6b-e26c-46ca-8e6b-1ef91d79669b.png)

[2022-07-26 06:11] Saikrishnamasetti opened #726 "App sandbox issue when trying to upload the app build to app store connect"
![Screenshot 2022-07-26 at 11 33 46 AM](https://user-images.githubusercontent.com/64223594/180934768-61e8a392-ea2f-4c60-b933-39053c1ac74b.png)

I am using [agora_rtc_engine](https://pub.dev/packages/agora_rtc_engine) flutter package and trying to upload my app to app store connect and facing this issue.

[2022-07-26 06:31] littleGnAl commented on #726
You should enable the App Sandbox in your project if you need to distribute your APP to Mac App Store
https://developer.apple.com/documentation/security/app_sandbox?language=objc

[2022-07-26 06:47] Saikrishnamasetti commented on #726
Yes, I have done that in both DebugProfile.entitlements and Release.entitlements files.

[2022-07-26 06:52] littleGnAl commented on #725
Thanks for reporting, may I ask is it causing crashes?

[2022-07-26 07:01] dgilperez commented on #722
@acanteroruiz is correct. What more information do you need?

For reference, our current status is of major blockade:

* Flutter 3 will not work with Agora 4.2 (android will not compile). We're already in flutter 3.
* Agora 5.3, will not work for Android (this issue) nor iOS (crash seen in other issues here)
* Agora 5.2, crashes with iOS

Are you aware of this? Is there anything we can do to work

[2022-07-26 07:02] dgilperez commented on #716
It's not working for us, nor 5.2 nor 5.3, as explained here https://github.com/AgoraIO/Agora-Flutter-SDK/issues/722

[2022-07-26 07:11] littleGnAl commented on #722
The uid should be `int` for the [joinChannel](https://github.com/AgoraIO/Agora-Flutter-SDK/blob/f76a0563482a5f3ff973e4e2cff802f04d57f5ef/lib/src/rtc_engine.dart#L187
) function.

I'm not sure why the uid with `String` type works with the `joinChannel` function in your case if you need to use uid of `String` type you should use the [joinChannelWithUserAccount](https://github.com/AgoraIO/Agora-Flutt

[2022-07-26 08:36] ThangD commented on #725
Yes, it it crashing with the logs above.

[2022-07-26 17:54] Hwan-seok commented on #700
@littleGnAl Same issue with @nizwar came out since 5.3.0 and its portion is rapidly increasing.
My log has more information I think

[code]

[code]

[2022-07-27 03:49] ShaimPatel commented on #679
Same Issue, Please anyone solve this

[2022-07-27 04:05] littleGnAl commented on #726
Is it works or not?

[2022-07-27 04:13] Saikrishnamasetti commented on #726
No, If I remove the package it is working but not with the package. How can I fix this?

[2022-07-27 06:51] dgilperez commented on #722
@littleGnAl sorry for the confusion - `joinChannel` is in deed accepting an `int` as uid.

We are now able to operate apparently without issues. As you suggested, we moved from `joinChannel` to `joinChannelWithUserAccount` and suddenly everything works.

Digging this a bit deeper, it seems both methods use different API endpoints. A bit surprising if you ask me, but that's also probably a good hin

[2022-07-27 10:43] nizwar commented on #723
I'll close it for now during open ticket, i'll reopen once i found something in logs

[2022-07-27 10:43] #723 closed

[2022-07-27 10:55] devsideal opened #727 "AgoraRtcKit/AgoraRtcEngineKit.h' file not found When running in iOS"
**Describe the bug**
Getting below error when running in iOS:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create new flutter project
2. Added agora_rtc_engine: 5.3.0 and run the `flutter pub get`
3. Run the project on iOS
4. Getting above given error

**Smartphone (please complete the following information):**
 - Device: iPhone11, iOS8.15.2]
 - Agora: agora_rtc_engine: 5.3.0
 - F

[2022-07-27 10:55] nizwar opened #728 "Incorrect Audio Info Duration"
**Describe the bug**
Once user load music more than 1 hours, requestAudioFileInfo return incorrect durationMS, for example on this image i load 3 hours music, but once i parse it, it only produce 18:23 (18 minutes 23 sec) output of duration MS : 1103818, the correct one was 3:52:55 (3 hours, 52 minutes, 55 sec)

**Expected behavior**
Correct duration of file info

**Screenshots**
Info loaded on Fi

[2022-07-27 11:36] socialmad commented on #650
* What went wrong:
Execution failed for task ':agora_rtc_engine:compileDebugKotlin'.

     Searched in the following locations:
         https://www.jitpack.io/com/github/agorabuilder/native-full-sdk/3.4.6/native-full-sdk-3.4.6.jar

I am also facing the same issue, my project is running on Flutter 1.22.0.
Can anyone please help?

[2022-07-28 04:18] princeflutterdev commented on #109
i am try this nut i am getting duplicate classes errror ,
 becuase the libarary is used from both flutte and native side .

[2022-07-28 05:55] littleGnAl commented on #727
I believe you should run `flutter build ios` command first.
https://docs.flutter.dev/development/packages-and-plugins/developing-packages#step-2c-add-ios-platform-code-swifthm

[2022-07-28 06:15] littleGnAl commented on #720
Can you share user ids of the send and receive client?

[2022-07-28 06:36] Rohithgilla12 opened #729 "App doesn't build with 5.3.0"
**Describe the bug**
When updating the agora dependency from `5.2.0` to `5.3.0` it completely crashes the app the moment someone tries to open it.

**To Reproduce**
Steps to reproduce the behavior:
- Create a new flutter project
- Add `agora_rtc_engine: ^5.2.0`
- Run the app in iOS simulator

**Expected behavior**
The app runs

**Desktop (please complete the following information):**
 - OS:  iOS

[2022-07-28 08:42] Tsagaanbayr1 commented on #487
I am developing a Flutter application and the PIP feature required for customer needs. But there's no Plugin for Flutter's Agora SDK that offers calls continuously running on PIP mode. Apple's announcement of iOS 15 got [Apple AVKit](https://developer.apple.com/documentation/avkit/adopting_picture_in_picture_for_video_calls). As a non-native developer, I have no clue how to implement it in Swift.

[2022-07-28 09:30] devsideal commented on #727
I'm using Android Studio and trying to run on iOS Simulator, as you suggest i tried to run the command:

[code]

[2022-07-28 19:38] reeteshranjan commented on #410
![Screenshot 2022-07-28 at 11 56 28 PM](https://user-images.githubusercontent.com/5516599/181615656-5e75de89-3111-4c51-99b9-7acc09755cff.png)

@LichKing-2234 I see this in console on Safari. No other browser shows this and everything works fine. I cannot see any other difference so thought will point this out.

Could not find anything concrete about the error; but hopefully the following will help

[2022-07-28 19:42] reeteshranjan commented on #410
@rgb1380 could you please edit the bug title to remove dev/flutter2? The bug is on main package now.

[2022-07-29 09:36] itskishankumar commented on #727
Facing the same issue

[2022-07-29 11:31] Nitish145 commented on #727
Any update regarding this issue? Facing the same.

[2022-07-29 11:36] duncanokeyo opened #730 "Expected a value of type 'int', but got one of type 'String' Flutter web"
**Describe the bug**
Got Expected a value of type 'int', but got one of type 'String'  on flutter web when i  joinChannelWithUserAccount (agora_rtc_engine 5.3.0)
**To Reproduce**
Steps to reproduce the behavior:
1. join channel using joinChannelWithUserAccount
2.
**Expected behavior**
I should  be able to join channel with user account

Error: Expected a value of type 'int', but got one of type 'S

[2022-07-29 11:38] itskishankumar commented on #727
I just downgraded the sdk version man

On Fri, Jul 29, 2022 at 5:01 PM Nitish Aggarwal ***@***.***>
wrote:

[2022-07-29 12:12] imariman commented on #726
Same issue, any solutions for this?

[2022-07-29 13:47] krishnashetty0 opened #731 "Crash in iOS Flutter app"
Please see the error details below, please let me know if you need more details:

Fatal Exception: FlutterError
PlatformException(-7, S-SDK/rtc/cxx/src/iris_rtc_engine.cc:116 CallApi ret -7 result ams {}, null, null). Error thrown null.
StandardMethodCodec.decodeEnvelope

Crashed: com.apple.main-thread
0x0000000000000000
0
FirebaseCrashlytics
FIRCLSProcessRecordAllThreads + 184
7
FirebaseCrashlyti

[2022-07-30 17:07] blopker commented on #689
Any dev thoughts on this? Mobile web seems so close to working.

[2022-07-31 10:06] Khurshidddbek commented on #727
I am getting the same error in Flutter.

[2022-07-31 10:08] Khurshidddbek commented on #727
@itskishankumar Did downgrading the sdk help you?

[2022-08-01 02:57] littleGnAl commented on #731
I think you should make sure your appId is valid

[2022-08-01 02:59] #712 closed

[2022-08-01 03:21] littleGnAl commented on #730
It's a known bug of `joinChannelWithUserAccount` on `agora_rtc_engine` web, you can use `joinChannel` for a temporary workaround at this time.

[2022-08-01 03:22] littleGnAl commented on #728
Thanks for reporting.

[2022-08-01 05:55] devsideal commented on #727
Looks like the issue with debug build, When I created profile build with the certificates using the command
`flutter build ios --profile` It's working

[2022-08-01 05:56] itskishankumar commented on #727
Yes downgrading it made it work for me

On Mon, Aug 1, 2022 at 11:25 AM IdealItTechnoDevs ***@***.***>
wrote:

[2022-08-01 10:08] OutdatedGuy commented on #708
This problem occurs even with the [example code](https://pub.dev/packages/agora_rtc_engine/example) provided in pub.dev

[2022-08-02 04:00] #721 closed

[2022-08-02 04:01] iaohtdev commented on #721
yes, thanks,i can do it

[2022-08-02 04:01] iaohtdev opened #732 "How to display both camera and share screen on flutter web"

[2022-08-02 06:09] #713 closed

[2022-08-02 09:24] dujinxin commented on #727
y,the emulator can't

[2022-08-02 09:54] Khurshidddbek commented on #727
Ok. Thanks bro. but it didn't work for me. I tried downgrading to 3.0.0 and 2.10.4.

[2022-08-02 09:55] Rishabhios opened #733 "Own video get freeze when user go to background and come back to foreground."
[**Smartphone]([url]([url](url))) (please complete the following information):**
 - Device: iphone XS MAX
 - OS: 15.5

[2022-08-02 11:09] KestasVenslauskas commented on #727
Downgrading to 5.2.0 worked for me.

[2022-08-02 15:49] littleGnAl commented on #727
Try adding the following line to your `ios/Podfile' file
https://github.com/AgoraIO/Agora-Flutter-SDK/blob/master/example/ios/Podfile#L56-L58

[2022-08-02 23:19] imariman commented on #726
Still waiting for this to publish my macos app. :/

[2022-08-03 04:19] littleGnAl commented on #729
Is it possible to share the full crash log?

[2022-08-03 04:31] littleGnAl commented on #733
Check this for reference.
https://developer.apple.com/documentation/avfoundation/media_playback/creating_a_basic_video_player_ios_and_tvos/enabling_background_audio?language=objc

[2022-08-03 05:25] #716 closed

[2022-08-03 08:52] QiuYeHong90 opened #734 "荣耀x10 鸿蒙2.0 每次打开app 开启本地预览第一次是黑屏, 后面就可以看到预览了"
[code]

[2022-08-03 16:47] hmbenhaim commented on #682
same for me it is working perfectly on chrome or safari on my mac but doesn't work on chrome on android

[2022-08-04 02:20] Rohithgilla12 commented on #729
I only got this from the Xcode
I shared everything I had ☹️

[2022-08-04 03:47] mikemilla opened #735 "Flutter mobile web video issues"
Still experiencing video issues on Flutter Web.

Video issues on:
- Mobile Safari
- Mobile Android
- Mac Safari

Chrome Mac does work.

[2022-08-04 03:48] mikemilla commented on #735
I'm trying to debug this as well and can't seem to find a solid way to test this. What is your development flow for testing flutter web?

[2022-08-04 13:19] #717 closed

[2022-08-04 15:55] DamiFlutter commented on #727
hello what do you mean by this?

[2022-08-05 02:29] mikemilla commented on #735
Is something going on with this library? https://github.com/AgoraIO/Agora-Flutter-SDK/blob/master/assets/AgoraRtcWrapper.bundle.js

Mac Safari is likely the easiest to test this one for dev cycles and I am unable to get this bundle working.

[2022-08-05 11:19] PolischukIO commented on #727
Just try to run on real ios device, not emulator. It works for me

[2022-08-05 11:40] littleGnAl commented on #734
Try show the SurfaceView/TextureView after `rtcEngine.startPreview()`

[2022-08-05 11:47] littleGnAl commented on #729
Is there any crash in the `~/Library/Logs/CrashReporter`?

[2022-08-05 15:50] MrunalrajRedij commented on #340
Any update on this issue?

[2022-08-05 17:49] DamiFlutter commented on #727
On Fri, Aug 5, 2022 at 12:19 PM PolischukIO ***@***.***>
wrote:

On real device or shows black screen
Remote view display
Any idea why?

[2022-08-05 20:47] PolischukIO commented on #727
Maybe you have problems with your Agora account, check id and token of your agora app in your project.

[2022-08-05 21:50] nizwar commented on #700
Hi dev, i think i know how to produce this crash... i got crash once i immediately minimize the application during agora join progress, idk it might be once agora checking userJoined or something because for sure its happened after joinChannel called success

as you can see on this image,  i log user's behavior for app life state and it getting crashes once app state was inactivated

![1A2A6030-44

[2022-08-06 03:26] littleGnAl commented on #700
Thanks for the more detail @nizwar @Hwan-seok , I finally found the root cause of this issue, this crash is caused by the `RtcEngine.destroy` is not be called expectedly, say that directly kill the APP. I will release a hot fix next week to fix this it, sorry for this issue blocking your guys for so long.

[2022-08-06 06:45] b4tchkn commented on #727
It worked in the following environment.

I couldn't work if only `Real Device` is changed to `iOS Simulator iPhone 13, iOS 15.4` in the same environment

[2022-08-06 08:35] littleGnAl commented on #672
Can you check if the audio option is on or off in the configuration or not?
There's maybe something configuration on your connected BT device page like below.
<img width="314" alt="image" src="https://user-images.githubusercontent.com/8847263/183241457-b2c02d37-ee4b-4723-b378-6419e7c51d53.png">

[2022-08-06 08:39] littleGnAl commented on #653
Hello @fareesh, can you share what API or the code you call for this implementation?

[2022-08-06 09:15] fareesh commented on #653
adjustRecordingSignalVolume(400)

[2022-08-06 14:11] Naoki-Hidaka opened #736 "audioVolumeIndication not working only on iOS."
**Describe the bug**
[code]

When I run it on iOS, nothing is output
I do the same code for Android, but it outputs.

**Smartphone (please complete the following information):**
 - Device: iPhone13
 - OS: iOS 15.5
 - SDK Version: 5.1.0

[2022-08-08 02:24] littleGnAl commented on #736
Hello @Naoki-Hidaka, did you call the `joinChannel` function?

[2022-08-08 02:28] littleGnAl commented on #732
You can check the [screen_sharing_with_subprocess](https://github.com/AgoraIO/Agora-Flutter-SDK/tree/master/example/lib/examples/advanced/screen_sharing_with_subprocess) example for reference.

[2022-08-08 04:46] Rohithgilla12 commented on #729
@littleGnAl I cleaned it up recently.

[2022-08-08 05:44] QiuYeHong90 commented on #734
能给代码示例么

[2022-08-08 12:57] hmbenhaim commented on #689
also for me working on chrome on mac, not working on chrome and firefox on android

[2022-08-09 03:15] mikemilla commented on #689
Here is an update on what I've tried (cc: @blopker)

- My hunch is that the AgoraRtcWrapper.bundle.js may not be configured correctly. Old examples of the flutter web library include a script tag in the index.html file. I cloned the repo, built the new file, installed it manually, and experienced the same issue. I also tried to find and older bundle js, and found the same problem. I created an iss

[2022-08-09 03:18] mikemilla commented on #735
Original post: https://github.com/AgoraIO/Agora-Flutter-SDK/issues/689

Please remove this if this issue is no longer needed.

[2022-08-09 07:12] littleGnAl commented on #700
Relative https://github.com/deven98/shake/issues/12

[2022-08-09 10:54] littleGnAl commented on #734
Here's the example:
[code]

[2022-08-09 12:25] Jatin141 commented on #461
Hello Team any update for this issue i am getting same issue

[2022-08-09 12:26] Jatin141 commented on #461
Hello Team when i am creating apk in andorid in flutter app getting this issue please check

ild file '/Users/jatinrana/Documents/Jatin Data/FlutterSDK/flutter_2_0_0/.pub-cache/hosted/pub.dartlang.org/agora_rtc_engine-3.4.6/android/build.gradle' line: 29

* What went wrong:
A problem occurred evaluating root project 'agora_rtc_engine'.

* Try:
Run with --stacktrace option to get the stack trace. R

[2022-08-09 13:22] #718 closed

[2022-08-10 08:42] maxxfrazer commented on #729
@littleGnAl is the SDK working in your tests and the example project with the same setup (simulator)?
@Meherdeep is also seeing similar issues.

[2022-08-10 10:09] #711 closed

[2022-08-10 10:16] littleGnAl commented on #698
Close as duplicated
https://github.com/AgoraIO/Agora-Flutter-SDK/issues/700

[2022-08-10 10:16] #698 closed

[2022-08-10 10:22] littleGnAl commented on #655
Maybe relative
https://github.com/AgoraIO/Agora-Flutter-SDK/issues/700

[2022-08-10 10:30] QiuYeHong90 commented on #734
谢谢

[2022-08-10 13:33] Naoki-Hidaka commented on #736
@littleGnAl
Hi
Yes, i called `joinChannel` function.

[2022-08-10 16:53] Hwan-seok opened #738 "RtcChannelEventHandler receives not allowed VideoRemoteStateReason enum"
**Describe the bug**
See the crash report screenshot below.

**Screenshots**
![스크린샷 2022-08-11 오전 1 48 08](https://user-images.githubusercontent.com/38072762/183968744-e4061c84-01ff-4b89-8ac7-5ec6f38768da.png)

**Smartphone (please complete the following information):**
 - Device: Android & IOS regardless of version

[2022-08-11 02:11] ThangD commented on #726
Same issue here, also waiting for publishing to macos app.

[2022-08-11 02:34] ThangD commented on #725
@littleGnAl Could you please help to look into this issue soon, i am still waiting for releasing the window app. Thank you so much.

[2022-08-11 04:34] ThangD commented on #736
@littleGnAl Same issue here.

[2022-08-11 05:08] Rohithgilla12 commented on #655
As a temp workaround we have removed it from my application :(

[2022-08-11 14:58] littleGnAl commented on #738
Thanks for reporting.

[2022-08-11 16:00] littleGnAl commented on #726
By following the guide https://developer.apple.com/documentation/xcode/embedding-a-helper-tool-in-a-sandboxed-app?language=objc, maybe you can try the steps below but without testing:
1. Go to `AgoraRtcWrapper.framework/Resources` path
[code]

2. Create an entitlements file
[code]
3. Sign the `AgoraRtcScreenSharing`
[code]
4. Then try to rebuild your APP see if works or not.

But for the disclaime

[2022-08-11 16:49] littleGnAl commented on #725
I am so sorry that I have no experience publishing the Windows app, but I just wonder why the `AgoraRtcScreenSharing.exe` has been executed directly.

[2022-08-11 16:54] littleGnAl commented on #736
You can check this example for reference, it works on the iOS simulator
https://github.com/AgoraIO/Agora-Flutter-SDK/pull/737/files#diff-a997157bc5be883f1d56dd59dae57e94f041a6c43bfc22aa572c6526a0fa77c2

[2022-08-15 05:38] littleGnAl commented on #700
Sorry for the late response, this issue had been fixed and merged into the master branch, but it will be released to the pub in the next major version due to another release schedule internally, sorry about that.

[2022-08-17 02:34] ThangD commented on #725
@littleGnAl The error occurs because we do NOT have permission for iris-logger on the WorkSpace folder when installing. Could we change this logs to others path? Thank you.

[2022-08-17 04:12] ThangD commented on #735
Same issue here.

[2022-08-17 11:08] 1AhmedYasser commented on #109
Agora now supports Screen Sharing for flutter & react native

Flutter: `https://docs.agora.io/en/Video/screensharing_flutter?platform=Flutter`
React Native: `https://docs.agora.io/en/Video/screensharing_react_native?platform=React%20Native`

Have Fun

[2022-08-17 15:41] RasyidMF commented on #340
Hey, i have some solution for your guys.. Before finding the tricky, im very desperate with this plugin while reducing the app size.
**Tested on (Android)**, Step to produce:

1. Find build.gradle from your agora package. Example dir: ```C:\tools\flutter\.pub-cache\hosted\pub.dartlang.org\agora_rtc_engine-5.3.0\android\build.gradle```
2. Search and comment ```api 'io.agora.rtc:full-sdk:VERSION'```

[2022-08-17 15:46] RasyidMF commented on #360
#340 Checkout my comment for relative solution

[2022-08-17 15:47] RasyidMF commented on #282
Check my comment at #340 for solution

[2022-08-19 05:17] kazy-dev commented on #332
I am implementing a regular one-on-one video calling application.
I too would like to know how to set the codec.

The documentation says to call startRtmpStreamWithTranscoding() when using liveTranscoding, but the codec-related arguments I can specify are
VideoCodecTypeForStream videoCodecType
and there are only two definitions

https://github.com/AgoraIO/Agora-Flutter-SDK/blob/d0d6fad1f1177460c07

[2022-08-19 05:25] kazy-dev commented on #332
@LichKing-2234

[2022-08-19 07:33] yuki384 commented on #715
I am getting the same issue.

[2022-08-20 06:14] reeteshranjan commented on #410
@LichKing-2234, any updates on this?

[2022-08-21 13:21] 1AhmedYasser commented on #357
Agora now supports Screen Sharing for flutter & react native

Flutter: https://docs.agora.io/en/Video/screensharing_flutter?platform=Flutter
React Native: https://docs.agora.io/en/Video/screensharing_react_native?platform=React%20Native

Have Fun

[2022-08-22 03:48] #722 closed

[2022-08-22 03:48] #730 closed

[2022-08-22 03:48] #731 closed

[2022-08-22 10:32] 1AhmedYasser opened #739 "Stopping Share Screen Does not switch back to camera"
**Describe the bug**
When I am in a video call , I start screen sharing so my camera feed gets replaced with my screen feed, but when I stop sharing my screen using (await agoraEngine?.stopScreenCapture()), it stops the screen share feed, but does not switch back to the camera feed

**Expected behavior**
Upon Stopping screen sharing , the video feed should be replaced with the camera feed

[2022-08-22 10:45] ahmedessid commented on #739
same problem here..

[2022-08-23 05:45] littleGnAl commented on #739
Which platform are you running into issues with?

[2022-08-23 06:09] 1AhmedYasser commented on #739
Both Android & iOS

[2022-08-23 09:28] dqcuong2 opened #740 "[LiveStream] Can I display 2 SurfaceView/TextureView of a Host User like picture below?"
![Screen Shot 2022-08-23 at 16 26 43](https://user-images.githubusercontent.com/108870525/186123580-7b9c6fed-6d16-442b-8777-9eb9319411a8.png)

[2022-08-23 13:18] sawproduction opened #743 "Getting this issue"
FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':agora_rtc_engine:generateDebugRFile'.

[2022-08-24 01:24] 1AhmedYasser commented on #739
Can You Expose this method to be used in the flutter SDK: setVideoSource (newAgoraDefaultSource ())

https://docs.agora.io/en/Voice/API%20Reference/java/classio_1_1agora_1_1rtc_1_1_rtc_engine.html?platform=Android#aa240e991d12b5240fc5fd362cbc0d521

[2022-08-24 04:36] #733 closed

[2022-08-24 06:20] iaohtdev commented on #739
same issuse

[2022-08-24 07:38] littleGnAl commented on #743
The issue is most likely not relative to the `agora_rtc_engine` plugin. Maybe you can try clean and rebuild it.

[2022-08-24 07:43] littleGnAl commented on #740
Which platform you are using?

[2022-08-24 07:45] dqcuong2 commented on #740
iOS and Android sir

[2022-08-24 07:45] littleGnAl commented on #739
It's a known issue, we will expose a new API to achieve this on the next release.

[2022-08-24 08:04] littleGnAl commented on #740
The `agora_rtc_engine` plugin does not support this feature, maybe you can try https://pub.dev/packages/agora_rtc_ng if you really need this feature, but it is still in beta.

[2022-08-24 08:09] nizwar opened #744 "TMReachabilityCallback Crash"
We got new crashes on production
![Screen Shot 2022-08-24 at 11 05 59](https://user-images.githubusercontent.com/33113137/186365089-6ddcba01-69b4-4336-b02e-f6081b3fd91f.png)
![Screen Shot 2022-08-24 at 11 06 07](https://user-images.githubusercontent.com/33113137/186365096-5c6be843-7926-46b4-85e2-404c88a35914.png)

We're not sure yet what happened, but the crash happened after user leaveChannel eve

[2022-08-24 08:12] nizwar commented on #744
More context, we're using git version that fix #700 issue
[code]

[2022-08-25 07:39] littleGnAl commented on #744
It's so wired that we're not dependent on the `com.tonymillion.reachability`, do you have any plugins depend on it, such like [connectivity_plus](https://github.com/fluttercommunity/plus_plugins/blob/main/packages/connectivity_plus/connectivity_plus/ios/connectivity_plus.podspec#L20)

[2022-08-25 08:10] nizwar commented on #744
Yes we're using `connectivity_plus`, i'll check for further, close this issue for now as it was unrelevant with agora

[2022-08-25 08:10] #744 closed

[2022-08-27 04:31] ThangD commented on #725
@littleGnAl Could you pls help on this one?

[2022-08-27 10:01] meet7sagar opened #746 "How do I know if I am receiving Video Sctream?"
**Is your feature request related to a problem? Please describe.**
I want to know whether rtc_remote_view.SurfaceView is receiving a video stream or not?

**Additional context**
I want to show another widget if the remote video stream is not received.

[2022-08-27 12:03] A-Eric-J commented on #340
@RasyidMF Hello my friend, first thanks for your solution, it reduced about 20 MB of my app and I have a question: you told that your project only need the Video & Audio without any other features.
you mean that you have video and audio in separated way?
my project just has video call feature. could you please tell me which ones should be deleted to make the apk lighter????

[2022-08-27 14:16] RasyidMF commented on #340
Check the table of documentation [Click here](https://docs.agora.io/en/Interactive%20Broadcast/reduce_rtc_app_size?platform=Flutter#android-voice-sdk).
Searching which is used in Android Voice SDK, like example in my above code:
[code]

[2022-08-27 18:22] zhangtao7740 commented on #727
Same problem can't work on iOS Simulator

[2022-08-28 05:42] A-Eric-J commented on #340
@RasyidMF
thanks for your reply, I have 2 questions:

1.  as you now my application just has Video call. if i use this line below what will happen?

`implementation 'io.agora.rtc:full-rtc-basic:3.7.0.3'`
and comment another codes like below what will happen? does it affect on my performance of video quality or video calling? please tell me about the side effets if i removing these lines in below:

[2022-08-29 03:01] #732 closed

[2022-08-29 08:32] littleGnAl commented on #725
Sorry for the late response, we are working on this fix.

[2022-08-29 20:19] fisforfaheem opened #748 "Video quality is so terrible in Pakistan and south asian region, that i am frstrated also no updates for months now"
Please could you update the voice quality and video quality

[2022-08-29 20:20] fisforfaheem commented on #735
same issue but no one is replying

[2022-08-30 07:09] nizwar opened #749 "Fresh Issue : EventHandler::OnEvent(char const*, char const*)"
Happened on iPhone 13 Pro Max 15.6.1
Using your master branch with #700 fixes
[code]

As user log said, it happend once user minimize the app
<img width="1240" alt="Screen Shot 2022-08-30 at 10 04 10" src="https://user-images.githubusercontent.com/33113137/187372031-5305d470-fa41-46b5-87ab-48761aa77b6c.png">

<img width="1241" alt="Screen Shot 2022-08-30 at 10 04 40" src="https://user-images.githu

[2022-08-30 10:04] malukishtiaq commented on #483
try this solution please. it worked for me.

Delete **.packages, .dart_tool, .flutter-plugins, .flutter-plugins-dependencies** file from Root of project.

Delete Project Root> iOS> .symlinks

/Users/[my pc name]/Library/Developer/Xcode/DerivedData

export PATH="$PATH:/Users/[my pc name]/Documents/development/flutter/bin" && flutter clean && flutter pub get && cd ios && pod deintegrate && pod insta

[2022-08-30 10:51] littleGnAl commented on #749
Is possible to share the stack trace of the `0xb59c`?
<img width="1065" alt="image" src="https://user-images.githubusercontent.com/8847263/187418433-76be14be-987e-4853-ab8d-b2d2d77f772d.png">

[2022-08-30 10:55] littleGnAl commented on #748
It's better to submit a new ticket to agora support for this issue.

[2022-08-30 10:58] littleGnAl commented on #746
Maybe you can try `remoteVideoStateChanged` callback.

[2022-08-30 11:41] littleGnAl commented on #735
The web version is still in alpha and does not support mobile web at this time.

[2022-08-30 19:53] nizwar commented on #749
I'm not sure what you mean, but i paste the text here
[code]

[2022-08-31 08:07] shaikmohammed8 commented on #739
does any one have solution for screen sharing in android and ios

[2022-08-31 22:00] spicylola commented on #735
I have same issue as well

[2022-09-01 07:13] littleGnAl commented on #749
I think it will show the accurate line number if the dYSMs have been uploaded to the Firebase. It should be more helpful if we can know which line causes the issue.

[2022-09-02 10:39] fedorstepanovv opened #751 "Share specific widget via screen share"
Can i use screen share in order to share a specific widget? I have my own Texture widget in which i have a video from a custom video source and i would like to share that widget somehow to my remote peer.

[2022-09-02 10:54] littleGnAl commented on #725
After a little dig into the `msix` package, the `AppxManifest.xml` file will be created by default, and the `Executable` value will be set the first `.exe` file name https://github.com/YehudaKremer/msix/blob/f003af4ead7f536259a44985232412d45ce37714/lib/src/configuration.dart#L250, it will be set to `AgoraRtcScreenSharing.exe` in this case.

So if you are not using the screen sharing feature, you c

[2022-09-02 20:03] blopker commented on #415
FWIW, this seems to be fixed now.

[2022-09-04 15:09] #736 closed

[2022-09-05 06:25] #734 closed

[2022-09-05 08:03] ThangD commented on #725
@littleGnAl Thank so much for your information, the app is using the Share Screen feature.

[2022-09-05 12:54] nicolasvanheusden opened #752 "Face detection : Unhandled Exception: type 'Null' is not a subtype of type 'Iterable<dynamic>'"
**Describe the bug**
The Exception : Unhandled Exception: type 'Null' is not a subtype of type 'Iterable<dynamic>' is throw when listening to facePositionChanged  from RtcEngineEventHandler occurs multiple times.

**Minimal reproduction code**
[code]

**Version :**
- agora_rtc_engine: ^5.3.0
- flutter 3.3.0

On IOS, It seems to fail when no faces are detected.
But on Android, it seems to fail rand

[2022-09-07 05:07] littleGnAl commented on #752
Thanks for reporting, it will be fixed on the next release.

[2022-09-07 08:30] littleGnAl commented on #726
I try to build our example and upload it to the Mac App Store, it failed with the `AgoraRtcScreenSharing` not signed error, run the following command to sign the `AgoraRtcScreenSharing`:
[code]
Then process the archive follow, it works fine for the example.

<img width="754" alt="image" src="https://user-images.githubusercontent.com/8847263/188827544-98b874b0-dc38-48c8-b9ec-d5b067341edf.png">

I'm

[2022-09-07 09:08] ThangD commented on #726
@littleGnAl Confirm it working, i can push the macos app to Testflight now. Thank you.

[2022-09-07 15:24] dqcuong2 commented on #740
@littleGnAl After try this https://pub.dev/packages/agora_rtc_ng. I still can not display a small screen on other of a remote user. Can you help me?

[2022-09-07 21:30] octavio-talent commented on #607
Does the flutter SDK support screen sharing functionality on mobile apps (Android and iOS)?

[2022-09-07 21:40] octavio-talent commented on #109
I am getting this error, agora_rtc_engine: ^5.3.0

[VERBOSE-2:ui_dart_state.cc(209)] Unhandled Exception: PlatformException(ErrorCode.NotSupported, null, null, null)
#0      RtcEngineImpl.getScreenShareHelper (package:agora_rtc_engine/src/impl/rtc_engine_impl.dart:68:7)

[2022-09-08 03:42] tunytuan90 commented on #740
Did you get the same error?

[2022-09-09 02:54] 390057892 opened #754 "在readme中看到了Flutter应用得安卓/IOS不支持自采集这些功能，请问windows macos有这个限制嘛？"
由于性能原因，agora_rtc_engine暂时没有实现agora native(Android/iOS) sdk的所有功能，如自定义音频采集和渲染 ，[自定义视频采集和渲染](https://docs.agora.io/cn/Video/custom_video_android?platform=Android)，[原始音频数据](https://docs.agora.io/cn/Video/raw_data_audio_android?platform=Android)等功能，agora_rtc_engine提供[RtcEnginePlugin](https://github.com/AgoraIO/Agora-Flutter-SDK/blob/master/android/src/main/java/io/agora/rtc/base/RtcEnginePlugin.kt)/[Rt

[2022-09-10 10:05] ahad21 commented on #159
so what is the solution?

[2022-09-13 08:15] panjikrisnayasabfi opened #757 "Unable to display flutter web shared screen to flutter android"
**Describe the bug**
Unable to display flutter web shared screen to flutter android, but the video call feature working fine

**To Reproduce**
Steps to reproduce the behavior:
1. Share screen in flutter web
2. Choose a screen to share
3. Click share

**Expected behavior**
The flutter android user able to see my flutter web shared screen

**Screenshots**
![image](https://user-images.githubuserconte

[2022-09-14 05:37] ismayil1234 commented on #605
does anybody found a  solution?

[2022-09-14 08:48] littleGnAl commented on #757
Duplicated https://github.com/AgoraIO-Extensions/Agora-Flutter-SDK/issues/735

[2022-09-14 08:50] littleGnAl commented on #754
You can check our `custom_capture_audio` example for reference https://github.com/AgoraIO-Extensions/Agora-Flutter-SDK/tree/master/example/lib/examples/advanced/custom_capture_audio.

The desktop(macOS/Windows) is not supporting this feature yet.

[2022-09-14 09:55] bhavinb98 opened #758 "Device overheating issues - Video Calls"
Device overheats during video calls. Problem noted in both Android and iPhone devices.

The video quality is already set to low :- Resolution: 320 × 180; frame rate: 15 fps; bitrate: 140 Kbps
No other video enhancements are being used.

Agora version being used :- agora_rtc_engine: ^5.3.0

Edit - Maximum 4 people in video calls.

[2022-09-15 02:13] ThangD commented on #665
@littleGnAl Could you please hep to look into this issue? It's raised for a long time, it is effected for us to release the MACOS build. Thank you.

[2022-09-15 02:36] littleGnAl commented on #665
This should be fixed in https://pub.dev/packages/agora_rtc_engine/versions/6.0.0-rc.1, maybe it's worth to try.

[2022-09-15 03:49] bimomobile opened #759 "Agora Cloud Recording API Internal Server Error"
Hi, i had a issue when i implement cloud recording using this api

Steps to reproduce the behavior:
1. Hit this api to get resourceid (Status code 200)

2. After that start recording using this api (Status code 500)

    "resourceId": "nUwUbQf9Zg6tsgtLslGnDg0lk8RYaUE09pqOuSIgwfyDM-G9-5eE37hZ21xKUaZaOGGH08JVoIVzk1SU7OD0y3vM_Qqxj-5PzUYDHhrDnXGRSbkP-iTuStEp5wwdDqrI9Z5m4gZaq0xqx756xMVoDVy0Ggn2X6aDWKcl

[2022-09-15 04:26] rezanandika10 opened #760 "Attach File with Agora RTM"
**Is your feature request related to a problem? Please describe.**
I need an Attach file (ex: .jpg, .pdf) for Agora Flutter SDK

**Describe the solution you'd like**
Create attach file feature for Agora Flutter SDK

**Describe alternatives you've considered**
Attach any extension file like .jpg, .pdf, .mp3, and all file extensions

[2022-09-15 09:37] tselmeggkh commented on #655
Have you found any solutions for this?

[2022-09-15 09:42] tselmeggkh commented on #700
Has it been released to the pub yet?

[2022-09-15 11:12] maxxfrazer commented on #760
RTM isn't supporting files since the native version `1.5.0`, so I don't expect this will be added here.
Also the flutter RTM repo is [here](https://github.com/AgoraIO/Agora-Flutter-RTM-SDK)

[2022-09-15 11:16] ThangD opened #761 "Release 6.0.0-rc.1 - Old import is not working anymore, should update example adapt to new version"
**Describe the bug**
The old import of V5xx is not working with release 6.0.0-rc.1

**To Reproduce**
Steps to reproduce the behavior:
1. From Agora version 5.1.0
2. Upgrade to 6.0.0-rc.1
3. The code with old import occurs errors as image
<img width="874" alt="image" src="https://user-images.githubusercontent.com/7744981/190390042-c5738a86-0c04-4244-9748-4235e40d12c8.png">
4. A lot of old params an

[2022-09-15 13:49] vakrolme commented on #758
Noticed this as well.

[2022-09-15 13:56] vakrolme commented on #632
@littleGnAl, the 6.0.0 branch doesn't support the old interface of `RtcEnginePluginRegistrant.register(customCaptureVideoPlugin)`.

Could you please tell me how to port an existing plugin from 5.x.x to 6.x.x?

[2022-09-15 16:58] littleGnAl commented on #761
The version 6.x is the major update and introduce some break changes,  you can check the release note for more detail https://docs.agora.io/en/video-call-4.x/migration_guide_flutter_ng?platform=Flutter.

The import should be `import 'package:agora_rtc_engine/agora_rtc_engine.dart'`, the `getScreenShareHelper` is no longer needed cause the version > 6.0.0 support multiple streams by default, you ca

[2022-09-16 05:34] zhangtao1104 opened #765 "test"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-09-16 05:34] #765 closed

[2022-09-16 08:11] rezanandika10 commented on #760
Thank your for your answer @maxxfrazer

[2022-09-16 09:07] ThangD commented on #761
@littleGnAl

Try example build, error when targeting is web
../../flutter/.pub-cache/hosted/pub.dartlang.org/iris_event-1.2.0/lib/iris_event.dart:1:8: Error: Not found: 'dart:ffi'
import 'dart:ffi' as ffi;
       ^
../lib/src/impl/api_caller.dart:3:8: Error: Not found: 'dart:ffi'
import 'dart:ffi' as ffi;
       ^
../../flutter/.pub-cache/hosted/pub.dartlang.org/iris_event-1.2.0/lib/src/native_iri

[2022-09-16 10:24] littleGnAl commented on #761
@ThangD Can you try 6.0.0-rc.2?

[2022-09-17 23:00] babihutan commented on #545
I believe this is now possible with agora_rtc_engine 6.0.0-rc.2, is that right?

[2022-09-18 13:39] utkudenis commented on #727
Error (Xcode): Building for iOS Simulator, but linking in dylib built for iOS, :(

[2022-09-18 23:45] chukovskid commented on #735
I also have the same issue, how can we help you to improve this?

[2022-09-19 01:43] plutoless commented on #759
@bimomobile could you pls provide a sample request body so that i can help take a look?

[2022-09-19 02:11] bimomobile commented on #759
Hi, this is my request body

`{
	"cname":"jQfYGZZt",
	"uid":"97103",
	"clientRequest":{
		"token":"00639c0a7208b1843ab92d2f1d0a877e656IADyW2MY++/Rtndp2/a2MeASKNtb5Bv1cBqjFN8HToze6P0L0TqwNdBCIgBuIZYEmN0jYwQAAQAomiJjAgAomiJjAwAomiJjBAAomiJj",
		"recordingConfig":{
			"maxIdleTime":120,
			"streamTypes":2,
			"audioProfile":1,
			"channelType":1,
			"videoStreamType":0,
			"transcodingConfig":{
				"

[2022-09-19 02:23] littleGnAl commented on #727
Our integration test is running on the ios simulator on GitHub action, so it should work fine with the ios simulator, I believe there's some missing config causing the issue.

It's better to raise a new issue and provide a reproducible demo so we can take a look.

[2022-09-19 02:36] plutoless commented on #759
@bimomobile how did you get your google account ak/sk? code 15 means the sth is wrong with your storage config. make sure you are getting it from Interoperable storage access keys when creating new google cloud storage source.

[2022-09-19 02:43] bimomobile commented on #759
@plutoless i got that ak/sk from our cloud engineer. Ok i will ask to our cloud engineer, and i will inform you later. Thank You

[2022-09-19 07:47] bimomobile commented on #759
Hi @plutoless i already add new ak/sk, and start recording successfully. But i had another issue when stop recording. I got this error with status code 404
`{
    "resourceId": "nUwUbQf9Zg6tsgtLslGnDg0lk8RYaUE09pqOuSIgwfyDM-G9-5eE37hZ21xKUaZaOGGH08JVoIVzk1SU7OD0y3vM_Qqxj-5PzUYDHhrDnXE6YwovU4ZhDZhWgIuJeWq9JZW8KH-JuveNaGTW_Wp4wlxHHE6Fsnk09HqyQmxbfD9faw89u5vkzs_5M82WR4nzLvAY7JL0XKYaah2Edye_zX32LS41e8

[2022-09-19 09:24] plutoless commented on #759
it might be the worker has exited the channel already.
maybe you can try integrating the notification service to see the reason why the recording exited after started.

https://docs.agora.io/en/cloud-recording/cloud_recording_callback_rest?platform=RESTful

[2022-09-19 09:53] AhmedKhalidOkab commented on #527
i need set name in the all member enter to the meeting how i can do it ?

[2022-09-19 11:52] ThangD commented on #761
@littleGnAl
I tried with 6.0.0-rc.2
Error still occurs with web build.
Btw, i also get this exception, could you pls help to know how to ovewcome?
flutter: #0      _ApiCallExecutor.requestPort (package:agora_rtc_engine/src/impl/api_caller.dart)
#1      _ApiCallExecutor.callIrisApiWithUin8ListAsync (package:agora_rtc_engine/src/impl/api_caller.dart:280:5)
#2      ApiCaller.callIrisApiWithUin8ListAs

[2022-09-19 19:51] fisforfaheem commented on #735
Update the flutter package and improve performance of video and audio

On Mon, Sep 19, 2022 at 4:45 AM Dimitar Chukovski ***@***.***>
wrote:

[2022-09-20 02:26] littleGnAl commented on #761
I'm so sorry that the web support on 6.x is still WIP.

[2022-09-20 02:36] ThangD commented on #761
@littleGnAl Thank you for your information.
How about this one? i sometime got this exception.

Btw, i also get this exception, could you pls help to know how to ovewcome?
flutter: #0 _ApiCallExecutor.requestPort (package:agora_rtc_engine/src/impl/api_caller.dart)
https://github.com/AgoraIO-Extensions/Agora-Flutter-SDK/issues/1 _ApiCallExecutor.callIrisApiWithUin8ListAsync (package:agora_rtc_engin

[2022-09-20 03:00] littleGnAl commented on #761
Do you know how to reproduce this error? It seems that you call any API before the `RtcEngine.initialize` so cause this error.

[2022-09-20 03:28] littleGnAl commented on #758
Which device you are using? media encoding/decoding naturally costs more than normal mobile activities. The impact of low-end mobile phones will be more obvious.

[2022-09-20 08:02] littleGnAl commented on #632
@vakrolme Can you raise a new issue for your question?

[2022-09-20 09:55] ThangD commented on #761
@littleGnAl with sharing screen, how the remote user view the screen? I tried with uid but not success
AgoraVideoView(
                      controller: VideoViewController(
                      rtcEngine: _engine,
                      canvas: const VideoCanvas(
                        uid: 'uid',
                        sourceType: VideoSourceType.videoSourceScreen,
                      ),

[2022-09-20 10:00] littleGnAl commented on #761
Please check the example for reference https://github.com/AgoraIO-Extensions/Agora-Flutter-SDK/blob/main/example/lib/examples/advanced/screen_sharing/screen_sharing.dart

[2022-09-20 10:03] littleGnAl commented on #761
You should call `joinChannelEx ` to push the screen share stream to the remote users.
https://github.com/AgoraIO-Extensions/Agora-Flutter-SDK/blob/e4a76ff35809703b5094d5e26f380924d11684c0/example/lib/examples/advanced/screen_sharing/screen_sharing.dart#L104

[2022-09-20 10:03] ThangD commented on #761
Yes, i was. I also tried with example.

[2022-09-20 10:14] littleGnAl commented on #761
The join channel button will push the camera/screen sharing stream to the remote.

[2022-09-20 10:29] ThangD commented on #761
What is the uid will we using?

[2022-09-20 10:48] littleGnAl commented on #761
The `uid` 0 means local stream (camera or screen sharing), not 0 means remote user stream, maybe you can check the basic example to see how it works first
https://github.com/AgoraIO-Extensions/Agora-Flutter-SDK/blob/main/example/lib/examples/basic/join_channel_video/join_channel_video.dart

[2022-09-20 11:07] ThangD commented on #761
yes, i understand it. I tried with uid (not use 0) which is not working with example.

[2022-09-20 11:36] bhavinb98 commented on #758
iPhone 8, One plus 6, One plus Nord are the devices on which the problem was noted without doubt. Will include more devices if applicable.

Also, only 4 people are in a video call at a time. I believe these devices should have no problem processing video calls with such small number of participants.

[2022-09-20 12:37] vakrolme commented on #758
For me it's Samsung Galaxy S10E (Exynos 9820 CPU) which I use for debugging via USB tethering.

I also use iPhone XS, and I never see it heat anywhere as much, even though the 2 devices have comparable CPUs from the same generation, which might indicate the problem may be Android-specific.

I mostly work with 6.0.0, and at one point while running a test call on 6.0.0-beta.1, I got a notification i

[2022-09-21 02:18] littleGnAl commented on #761
Can you try start screen sharing then join channel in the example, and view the stream on the web demo see if works or not
https://webdemo.agora.io/basicVideoCall/index.html

[2022-09-21 02:23] littleGnAl commented on #758
I think it's better to raise a ticket to the agora support, cause you may need to share some sentence data so that we can analyze it further.

[2022-09-21 22:26] phodonou commented on #727
Any luck on this?

Not working for me on emulator but works on real device.

[2022-09-21 22:52] phodonou commented on #727
I did this.

Then I downgraded to 5.2.0. And I did a flutter clean. My app started now.

[2022-09-22 07:23] littleGnAl commented on #752
This fix has been merged to https://github.com/AgoraIO-Extensions/Agora-Flutter-SDK/tree/master, you can depend on the `agora_rtc_engine` as the git package at this time.

[2022-09-22 07:23] littleGnAl commented on #739
This fix has been merged to https://github.com/AgoraIO-Extensions/Agora-Flutter-SDK/tree/master, you can depend on the `agora_rtc_engine` as the git package at this time.

[2022-09-22 07:24] littleGnAl commented on #738
This fix has been merged to https://github.com/AgoraIO-Extensions/Agora-Flutter-SDK/tree/master, you can depend on the `agora_rtc_engine` as the git package at this time.

[2022-09-22 08:57] ZClee128 opened #768 "运行web端报错"
../../../flutter/.pub-cache/hosted/http%2558%2547%2547mirrors.cnnic.cn%2547dart-pub%2547/iris_event-1.2.0/lib/iris_event.dart:1:8: Error: Not found: 'dart:ffi'
import 'dart:ffi' as ffi;
       ^

: Error: Not found: 'dart:ffi'
../…/impl/api_caller.dart:3
import 'dart:ffi' as ffi;
       ^

[2022-09-22 10:49] ZClee128 commented on #768
oving the 'external' keyword or adding a JS interop annotation.
  external int bytes_per_sample;
               ^
../flutter/.pub-cache/hosted/http%2558%2547%2547mirrors.cnnic.cn%2547dart-pub%2547/agora_rtc_engine-6.0.0-rc.2/lib/src/impl/native_iris_api_engine_bindings.dart:1723:16: Error: Only JS interop members may be 'external'.
Try removing the 'external' keyword or adding a JS interop annotat

[2022-09-22 10:52] ZClee128 commented on #768
以下是demo报的错
<img width="1123" alt="image" src="https://user-images.githubusercontent.com/18162711/191728302-1c8a5571-6dc0-432c-8651-c98fe4c606c0.png">

[2022-09-22 10:57] littleGnAl commented on #768
It's so sorry that flutter web is not supported yet on 6.0.0-rc.2

[2022-09-23 07:24] bimomobile commented on #759
Hi @plutoless i already try integrating the notification service, but i didn't get the answer. For the storage im using google cloud, Is this error related to Google cloud?

[2022-09-23 08:09] #743 closed

[2022-09-23 08:09] #746 closed

[2022-09-23 08:30] littleGnAl commented on #740
You can try the code snippet below to render multiple local streams:
[code]
If you have a problem with how to render the remote users, maybe you can learn how it works in our example
https://github.com/AgoraIO-Extensions/Agora-Flutter-SDK/blob/20b0b18d9f9f6b772feedd076463168d72fcfb30/example/lib/examples/basic/join_channel_video/join_channel_video.dart#L145

[2022-09-23 10:25] fisforfaheem commented on #748
i wish i could send, but having weird build errors in xcode 13 :( due to agora pods

[2022-09-24 07:59] bigboss5696 commented on #740
Hi @littleGnAl,
I am trying to use agora screen sharing to share between AgoraVideoViews. But I found that, agora only allows full screen sharing. But I only want to share part of the screen, I only want to share what is displayed on the AgoraVideoView. Any solution help me in this case? I am using agora's example:
https://github.com/AgoraIO-Extensions/Agora-Flutter-SDK/blob/20b0b18d9f9f6b772feedd

[2022-09-25 09:17] vmwsree commented on #302
I'm having the same issue. any update?

[2022-09-26 02:06] littleGnAl commented on #740
Sharing part of the screen is not supported on mobile.

[2022-09-26 02:08] littleGnAl commented on #748
Can you raise another issue of the build errors cause it's off-topic of this issue?

[2022-09-26 02:23] ldquancmcglobal commented on #740
Hi @littleGnAl
If I use the web, is it possible to do this?

[2022-09-26 02:24] bigboss5696 commented on #740
Hi @littleGnAl
If I use the web, is it possible to do this?

[2022-09-26 02:30] littleGnAl commented on #740
@bigboss5696
It's so sorry that `6.0.0-rc.2` does not support the web yet, please raise another issue for your cause it's off-topic of this issue, thanks.

[2022-09-26 02:56] bigboss5696 opened #769 "Sharing part of the screen is not supported on mobile."
I am trying to use agora screen sharing to share between AgoraVideoViews in the same channel. But I found that, agora only allows full screen sharing. But I only want to share part of the screen, I don't want to share things other than AgoraVideoView. Any solution help me in this case? I am using agora's example:
https://github.com/AgoraIO-Extensions/Agora-Flutter-SDK/blob/20b0b18d9f9f6b772feedd07

[2022-09-26 14:40] sjtsh opened #770 "Issue with agora engine web"
I was trying to create a simple video broadcasting mechanism on the web with flutter and agora and came upon an issue by which a new uid is being realised. Still, the broadcast is not displayed on the remote surface view.
**this is the viewer screen**
import 'dart:async';

import 'package:agora_rtc_engine/rtc_engine.dart';
import 'package:agora_rtc_engine/rtc_local_view.dart' as RtcLocalView;
impo

[2022-09-27 03:47] littleGnAl commented on #738
This fix has been released `agora_rtc_engine: ^5.3.1`.
https://pub.dev/packages/agora_rtc_engine

[2022-09-27 03:48] littleGnAl commented on #752
This fix has been released `agora_rtc_engine: ^5.3.1`.
https://pub.dev/packages/agora_rtc_engine

[2022-09-27 03:48] littleGnAl commented on #739
This fix has been released `agora_rtc_engine: ^5.3.1`.
https://pub.dev/packages/agora_rtc_engine

[2022-09-27 03:49] littleGnAl commented on #700
This fix has been released `agora_rtc_engine: ^5.3.1`.
https://pub.dev/packages/agora_rtc_engine

[2022-09-27 08:38] 1AhmedYasser commented on #739
Thank you so much

[2022-09-27 08:39] #739 closed

[2022-09-27 11:25] littleGnAl commented on #769
Sharing part of the screen is not supported on mobile.

[2022-09-27 11:51] littleGnAl commented on #770
Can you share a reproducible demo and steps for your case? I don't think your code snippet is clear for me to reproduce the problem.

[2022-09-28 06:30] blopker commented on #768
It looks like 6.0.0 stable just landed (nice), but also doesn't have web support? Is there a rough timeline for that?

[2022-09-28 09:07] Juanixou opened #772 "Android Build is not working"
When I try to build my flutter application on Android, it returns a connection error related with jitpack.io. I'm working with agora rtc 5.0.1, and it is working with ios.

`* What went wrong:
Execution failed for task ':agora_rtc_engine:generateDebugRFile'.

     Required by:
         project :agora_rtc_engine

[2022-09-28 09:11] #726 closed

[2022-09-28 11:12] cnkygmr opened #773 "Ios Build is not working 6.0.0 on simulator"
[code]

[2022-09-28 11:39] littleGnAl commented on #773
Can you try to run `flutter clean` and delete the `ios/Pods` folder in your project and try again?

[2022-09-28 11:40] littleGnAl commented on #772
Can you try `agora_rtc_engine: ^5.3.0`?

[2022-09-28 11:42] akanksha820 commented on #773
Not working

[2022-09-28 11:47] littleGnAl commented on #773
Is there any other error log? I have double-confirmed that it should be worked on my local machine and CI.

[2022-09-28 11:49] akanksha820 commented on #727
Not working for me on emulator but works on real device.

[2022-09-28 12:21] cnkygmr commented on #773
Yeah still same not working same issue

[2022-09-28 12:23] cnkygmr commented on #773
[code]

[2022-09-28 13:29] Juanixou commented on #772
It works! Thank you so much!!

[2022-09-28 13:29] #772 closed

[2022-09-29 00:49] hmbenhaim commented on #770
Hi get tons of ffi errors which is of course not supporting web.
i use version 6.0.0

[2022-09-29 00:53] hmbenhaim opened #774 "Version 6.0.0 not working on web"
Version 6.0.0 failed to run on web

**To Reproduce**
Update to version 6.0.0
Migrate the code to fit with the breaking changes in version 6.0.0
Run the app on web
Get a lot of ffi errors and the failed to run

**Expected behaviour**
To run nice and smoothly

**Desktop (please complete the following information):**
 - OS:  Mac os 13
 - Browser chrome
 - Version 103

[2022-09-29 03:52] littleGnAl commented on #770
Please raise a new issue for your case @hmbenhaim .

[2022-09-29 03:54] littleGnAl commented on #774
It's sorry that 6.0.0 is not supported web yet.

[2022-09-29 03:55] littleGnAl commented on #773
It's sorry that 6.0.0 is not supported simulator yet.

[2022-09-29 04:00] littleGnAl opened #775 "Known issue on agora_rtc_engine: ^6.0.0"
There are some known issues on `agora_rtc_engine: ^6.0.0` which will be supported in the future
* Flutter web is not supported yet
* iOS simulator not supported yet

[2022-09-29 04:01] littleGnAl commented on #774
See https://github.com/AgoraIO-Extensions/Agora-Flutter-SDK/issues/775

[2022-09-29 04:01] littleGnAl commented on #773
See https://github.com/AgoraIO-Extensions/Agora-Flutter-SDK/issues/775

[2022-09-29 10:29] hmbenhaim commented on #774
Ok I'll close this one because you have opened a new one for iOS and web

[2022-09-29 10:29] #774 closed

[2022-09-29 12:53] hamzasidd3634 opened #776 "Error while running pod install"
CocoaPods could not find compatible versions for pod "AgoraIrisRTC_iOS":
  In Podfile:
    agora_rtc_engine (from `.symlinks/plugins/agora_rtc_engine/ios`) was resolved to 6.0.0, which depends on
      AgoraIrisRTC_iOS (= 4.0.0-rc.2)

[2022-09-30 02:44] jsaulsberry-cvet commented on #775
Errors returned by flutter web                                                 ^
../../Documents/Development/flutter/.pub-cache/hosted/pub.dartlang.org/agora_rtc_engine-6.0.0/lib/src/impl/native_iris_api_engine_bindings.dart:1587:16: Error: Only JS interop members may be 'external'.
Try removing the 'external' keyword or adding a JS interop annotation.
  external int captureTimeMs;

[2022-09-30 04:19] passsionforprogramming commented on #724
I have also seen this issue as well for Flutter Web. bump

[2022-09-30 16:34] JSBmanD opened #777 "Target has frameworks with conflicting names ^6.0.0"
**Describe the bug**
When trying to run on physical iphone got an error on pod install

**To Reproduce**
Steps to reproduce the behavior:
1. Try to run on physical or emulator device

**Desktop (please complete the following information):**
 - OS: MacOS

**Smartphone (please complete the following information):**
 - Device: iPhone 12
 - OS: 15.6.1

**Additional context**
Add any other context abou

[2022-09-30 16:53] JSBmanD commented on #777
Had duplicate entry of agora in Podfile.

[2022-10-01 19:20] babihutan commented on #545
Check this out:
https://docs.agora.io/en/interactive-live-streaming/develop/play-media/

[2022-10-01 20:49] seanharding commented on #775
Is there any estimate on when the issue with iOS Simulator will be fixed?

[2022-10-02 07:54] plutoless commented on #545
@babihutan yes play source media files is not possible directly with sdk apis.

[2022-10-02 12:56] Merraclius opened #778 "Can't deploy signed .ipa to the app store because of the missing key in plist"
**Describe the bug**
Faced with the problem when I can't deploy to the App Store application.
When using version 6.0.0. during deployment to the App Store, I got the following errors:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Build the signed iOS application
2. Execute `xcrun "altool" "--validate-app" "-f" "./Runner.ipa" "--type" "ios"`

**Expected behavior**
The application sho

[2022-10-02 16:49] babihutan commented on #545
Thanks @plutoless, I've been eagerly watching and waiting for this feature for more than a year, going to hook up the new v6 api later this week.

[2022-10-04 06:33] vmwsree commented on #775
Why isnt the old sample apps not working anymore?

[2022-10-04 07:36] mahboobahmed6577 opened #779 "Some imports are not working after updating to latest version "6.0.0"."
Hi, I'm developing an audio video calling web app with agora.  I Just updated agora to "6.0.0". Previously I was using "5.3.0" and it was working fine. Now these two imports are not working.
[code]

[2022-10-04 07:56] vmwsree opened #780 "JoinAudio is Not working"
From yesterday in my app Audio only room is not been working, I tried the example app joinchannelaudio also it's not working, but I can hear audio if I joinwithvideo.

Steps to reproduce the behavior:
1. Run the sample app in examples folder
2. Click on JoinChannelAudio
3. Use a second device to connect to JoinChannelAudio
4. No Audio can be heard
5. If I use JoinChannelVideo u can hear audio

[2022-10-05 05:21] vmwsree commented on #780
I'm getting this log these calls are not made by me

`I/agora.io(15219): local audio publish timeout 5005
I/agora.io(15219): [RS]: **report stats: seq: 26, report list size 1, tx/rx: 3926/1200, cache size: 0
I/agora.io(15219): [ATW]: Audio statistics - play count: playout count = 1800 signal level: far_in = 0
I/agora.io(15219): [ATW]: Audio statistics - rec count: record count = 1800 signal level:

[2022-10-05 09:10] #754 closed

[2022-10-05 09:10] #757 closed

[2022-10-06 17:16] #760 closed

[2022-10-08 02:03] littleGnAl commented on #780
I think it's better to submit a ticket to agora support, you may need to share some sensitive data for further investigation.

[2022-10-08 02:12] littleGnAl commented on #779
Flutter web is not supported on 6.0.0, see https://github.com/AgoraIO-Extensions/Agora-Flutter-SDK/issues/775

[2022-10-08 02:15] littleGnAl commented on #776
Maybe relative https://github.com/AgoraIO-Extensions/Agora-Flutter-SDK/issues/773

[2022-10-08 06:25] littleGnAl commented on #778
Thanks for reporting, we will fix it in the next release.
You can temporarily edit the `YOUR/APP/ios/Pods/AgoraIrisEventFlutter_iOS/iris_event_handler.xcframework/ios-arm64_armv7/iris_event_handler.framework/Info.plist` to add the `CFBundleShortVersionString `/`CFBundleVersion ` in the `Info.plist` file. e.g.,
[code]

[2022-10-08 10:09] keanyee opened #782 "Remote video shown as white screen on Android phone"
**Describe the bug**
Remote video always shown as white screen and cannot see the remote video even though the event listener was working (i.e. can see which user joined). I have attached the source code and screenshots for reference.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the code attached (Note that appId, token and channel id need to be filled in).
2. Go to https://webdemo.ag

[2022-10-08 18:23] utkudenis opened #783 "Too much console messages version 6.0.0"
Hi Guys,

how can ı stop these console messages ?

rtc version 6.0.0

![image](https://user-images.githubusercontent.com/68633376/194722044-468252b8-7376-4796-9588-a8fc29807b9c.png)

[2022-10-08 22:04] spideythewebhead opened #784 "Flutter Web: emits leave channel event before actually joining a channel"
**Describe the bug**

When initializing the plugin on web it has some weird behaviour, and a leave channel event is emitted before actually joining a channel. Android/iOS is working.

here's a list of calls/events

1. agora-iris callApi 0 {..app information}
1. agora-iris callApi 162 {"appType":4}
1. agora-iris callApi 25 {}
1. agora-iris callApi 2 {"profile":1}

Now it's the leave event with addi

[2022-10-09 03:21] littleGnAl commented on #783
I think you can try set the `RtcEngineContext.logConfig` when initialize.
https://docs.agora.io/cn/All/API%20Reference/flutter_ng/API/class_irtcengine.html#api_irtcengine_initialize

[2022-10-09 03:29] littleGnAl commented on #784
`leaveChannel` will be called when the RtcEngine be released
https://github.com/AgoraIO-Community/Iris-Rtc-Web/blob/c0fa7a67146cd5a117dc27a4dfc4fde9728ee15a/src/IrisRtcEngine.ts#L649

I think this log may not affect the `joinChannel` function.

[2022-10-09 09:57] spideythewebhead commented on #784
Hi, the thing is that I only call release function only when the widget is disposed.

This seems to be happening while doing the initialisation of the engine.

Do you want me to attach the code?

[2022-10-09 10:29] littleGnAl commented on #784
I think it's good to have a reproducible demo for the case.

[2022-10-09 12:25] utkudenis commented on #783
![image](https://user-images.githubusercontent.com/68633376/194756595-631eaf1e-a03c-4a45-ad82-f211ad22b4be.png)

Both LoglevelNone and LogLevelError Does not change anything.

And your link is routing to cn language. When ı switch to english it directs to english general website

Platfrom android

[2022-10-09 13:10] spideythewebhead commented on #784
I have found what causes the issue, having the channel profile to Live Broadcasting causes an issue on web (i am not sure why it does tho). Removing the 2 lines fixes the issue with receiving the channel event.

[code]

I have attached the reproducable code, in case you want to have a further look.
[agora_issue784.zip](https://github.com/AgoraIO-Extensions/Agora-Flutter-SDK/files/9741625/agora_iss

[2022-10-09 21:14] qamaruddin-dev commented on #650
For anyone who is still facing this issue

1: Run flutter pub outdated --mode=null-safety to check which dependencies are outdated

2: Run flutter pub upgrade --null-safety to upgrade all dependencies

3: It would update agora_rtc_engine to latest sdk, try to change that to agora_rtc_engine: 4.2.2

4: Set ext.kotlin_version = '1.6.10' in *build.gradle

Note: If you face any incompatibility with ot

[2022-10-09 23:30] keanyee commented on #782
@littleGnAl can you help me take a look please? Thank you.

[2022-10-09 23:31] keanyee commented on #782
I ran on other Android phone and still no luck.

[2022-10-10 06:39] littleGnAl commented on #782
I believe you should also call `enableVideo()` in your code.

[2022-10-10 06:58] littleGnAl commented on #783
This config can only filter the log printed by agora, I think the tag with `agora.io` should be filtered.

[2022-10-10 07:45] keanyee commented on #782
@littleGnAl thank you. That solves it.

[2022-10-10 08:09] md186 commented on #775
Can also confirm, im not able to launche the app on ios simulator. It's cruel developing on ios atm without a working simulator.

[2022-10-10 08:40] panjikrisnayasabfi opened #785 "Agora Cloud Recording Video Call Unable to Record Local Video and Audio"
**Describe the bug**
The agora video call recording result is not showing the local video and audio (only showing the other user)
![Screenshot 2022-10-10 152801](https://user-images.githubusercontent.com/110375310/194825790-e82419da-8852-45cf-b731-da84aabfebcc.png)

This is the video call from flutter web looks like
![Screenshot 2022-10-10 145642](https://user-images.githubusercontent.com/11037531

[2022-10-11 13:29] ebrahim2222 opened #786 "audio volume indication still working when muteLoacalAudio(true)"
I/flutter ( 5353): true
D/spdlog  ( 5353): [2022-10-11 15:27:17.108] [5353] [debug] [iris_rtc_engine.cc:74] api name RtcEngine_muteLocalAudioStream params {"mute":true}
I/agora.io( 5353): (00001430): RtcEngine::muteLocalAudioStream(this:0xb40000744244cc00, mute:1)
I/agora.io( 5353): (00001431):   RtcConnectionImpl::muteLocalAudio(this:0xb4000072d8224c00, mute:1)
I/agora.io( 5353): [CALLCTX] void a

[2022-10-11 15:47] federico-amura-phononx opened #787 "Audio and Video device manager errors"
**Describe the bug**
every time I call a method from the video device manager or audio device manager I get an exception.

**To Reproduce**
1. obtain a video audio reference or a video audio reference
2. Call (for example) "getDevice" from "VideoDeviceManager"

**Expected behavior**
The device

**Screenshots**
![Captura de Pantalla 2022-10-11 a la(s) 12 46 34](https://user-images.githubusercontent

[2022-10-12 07:28] seemelala opened #788 "Can you support channel switching?"
//to delete
//#define FUNC_RTCENGINE_SETCONTENTINSPECT "RtcEngine_SetContentInspect"
//#define FUNC_RTCENGINE_SWITCHCHANNEL "RtcEngine_switchChannel"
Can you support channel switching?

[2022-10-12 09:27] littleGnAl commented on #787
The AudioDeviceManager/VideoDeviceManager only supports desktops.

[2022-10-12 09:31] littleGnAl commented on #786
It's expected behavior, please check our doc for reference.
https://api-ref.agora.io/en/voice-sdk/flutter/6.x/API/class_irtcengineeventhandler.html#callback_irtcengineeventhandler_onaudiovolumeindication

[2022-10-12 09:33] littleGnAl commented on #785
I think this feature is not relative to the `agora_rtc_engine` plugin, it's better to submit a new ticket to agora support for further investigation.

[2022-10-12 09:45] littleGnAl commented on #788
Please follow our migration guide for the switch channel feature.
https://docs.agora.io/en/video-calling/develop/migration-guide#fast-channel-switching

[2022-10-12 10:24] littleGnAl commented on #784
I think you can add a `isJoinedChannel` flag to track the join channel status, and only handle the leaveChannel logic if the `isJoinedChannel` is true at this time. e.g.,
[code]

[2022-10-12 11:43] spideythewebhead commented on #784
Yes this could be a solution too, thanks.

[2022-10-12 11:43] #784 closed

[2022-10-12 13:51] ThangD opened #790 "IOS - Frame rendering times increasing time by time caused the app is slowly"
**Describe the bug**
Run the Agora Video on IOS (as Host), app is too slowly in the time by time.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to example
2. Run Join Channel Video
3. Let the app run about 15-30 minutes
4. The app is very slowly

**Screenshots**
If applicable, add screenshots to help explain your problem.
<img width="517" alt="image" src="https://user-images.githubuserc

[2022-10-13 03:21] ThangD commented on #790
@littleGnAl Could you please help to take a look on this issue? Thank you.

[2022-10-13 03:25] littleGnAl commented on #790
I think maybe you can try `agora_rtc_engine: ^6.0.0`.

[2022-10-13 03:28] ThangD commented on #790
The v6.0.0 is changed a lot with v5.x, so i will upgrade later when releasing the app with current V5.x. Could i have another option but upgrade to v6.x?

[2022-10-13 04:33] ThangD commented on #790
@littleGnAl just tried with 5.x but the result is the same, can not action anything when run long time.
![image](https://user-images.githubusercontent.com/7744981/195502234-be9c0572-080c-4c5d-8439-210e20328204.png)

[2022-10-13 08:10] #752 closed

[2022-10-13 11:09] #768 closed

[2022-10-13 13:35] littleGnAl commented on #790
I think the issue may be not caused by the `agora_rtc_engine`, you can track the memory usage by following the https://docs.flutter.dev/development/tools/devtools/memory guide to see what caused the memory increase.

[2022-10-13 13:36] littleGnAl commented on #751
It's not supported on Android/iOS.

[2022-10-13 14:42] ebrahim2222 commented on #786
but i need to stop it after calling mute local user to remove the user from list !!

[2022-10-14 03:12] ThangD commented on #790
@littleGnAl I run the example, only the Agora Video view is displayed at the moment.
![image](https://user-images.githubusercontent.com/7744981/195753810-5185af04-7f6b-43b5-b57e-1e59b3a7c8f6.png)

[2022-10-14 03:39] ThangD commented on #790
This is logs, maybe it is related to Agora
`Exhausted heap space, trying to allocate 268435472 bytes.
flutter: #0      List._allocateData (dart:core-patch/growable_array.dart)
#1      List._grow (dart:core-patch/growable_array.dart)
#2      List.addAll (dart:core-patch/growable_array.dart)
#3      _HttpProfileData.appendResponseData (dart:_http/http_impl.dart)
#4      _HttpClientResponse.listen.<a

[2022-10-14 06:31] littleGnAl commented on #790
This screenshot is not relative to the agora, do you load a very large image in your app causing the memory to increase?

[2022-10-14 06:33] littleGnAl commented on #786
I think you can call `enableAudioVolumeIndication ` to control whether receive the callback or not.
https://api-ref.agora.io/en/voice-sdk/flutter/6.x/API/class_irtcengine.html#api_irtcengine_enableaudiovolumeindication

[2022-10-14 08:03] ThangD commented on #790
@littleGnAl I run with example, no others loading. You can see in the image and recording below. The UI can NOT action due to the Frame rendering times are too high with on Raster(GPU)

<img width="422" alt="image" src="https://user-images.githubusercontent.com/7744981/195794787-316bd2b4-0213-4d8e-b513-9ebbdade906c.png">

https://user-images.githubusercontent.com/7744981/195794815-9c1ecfe3-4ab9-4b

[2022-10-14 08:11] #738 closed

[2022-10-14 09:10] #740 closed

[2022-10-14 09:20] littleGnAl commented on #790
I think it's better to submit a new ticket to agora support for further investigation, it seems most likely your network issue, since there's a log of the warning "LoopupChannelTimeout".

[2022-10-16 09:21] ebrahim2222 commented on #786
man i do it in need to prevent audioAudioVolumeIndication from working after mute local user .. it's working in previous version !!

[2022-10-16 11:21] nizwar opened #792 "Microphone mode support in iOS"
I wonder, Is there any functions to make user able to change microphone modes in iOS?

![IMG_3654](https://user-images.githubusercontent.com/33113137/196032415-d14ea5af-2bf3-4c55-b9f1-a243275c0402.PNG)
![IMG_3653](https://user-images.githubusercontent.com/33113137/196032424-97ceb5cc-8b83-4962-b3e6-a95a6447ca0d.PNG)

[2022-10-17 03:06] #748 closed

[2022-10-17 03:15] clement89 opened #793 "Unable to run iOS device after updating to agora 6.0.0. Getting "framework not found -framework" error."
Ld /Users/clementjoseph/Library/Developer/Xcode/DerivedData/Runner-bmxglfrsvnmmvdfxktpnspxpjplq/Build/Products/Release-iphoneos/Runner.app/Runner normal (in target 'Runner' from project 'Runner')
    cd /Users/clementjoseph/Work/PlusApp/plusapp-mobile/ios
    /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang -target arm64-apple-ios15.0 -isysroot /Applicat

[2022-10-17 09:32] littleGnAl commented on #792
It's sorry that there's no API to change the Mic Mode from `agora_rtc_engine`.

[2022-10-17 09:33] littleGnAl commented on #793
Is there more detail on the logs?

[2022-10-17 09:36] littleGnAl commented on #786
It's a break-change behavior from 6.x.
see https://docs.agora.io/en/video-calling/develop/migration-guide#volume-indication for more detail.

[2022-10-17 09:39] #792 closed

[2022-10-17 19:06] nholmvio commented on #775
Any updates on the simulator fix?  It's prohibitively impactful that we cannot leverage ios simulator!
Thank you for prompt attention to this.

[2022-10-18 12:12] #700 closed

[2022-10-18 12:12] #720 closed

[2022-10-18 12:12] #769 closed

[2022-10-18 12:12] #770 closed

[2022-10-20 04:33] #773 closed

[2022-10-20 07:40] littleGnAl commented on #725
This should be fixed on `agora_rtc_engine: ^6.0.0`.

[2022-10-20 15:56] Hwan-seok opened #797 "[6.0.0] registerEventHandler causes assertion error"
**Describe the bug**
calling registerEventHandler and ununregisterEventHandler and again registerEventHandler causes following error

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. joinChannel
2. registerEventHandler
3. leave Channel
4. ununregisterEventHandler
5. joinchannel
6. registerEventHandler => error occurs

**Expected behavior**
It should work right even with multiple iterat

[2022-10-21 09:20] littleGnAl commented on #797
Hello @Hwan-seok , have you called the `RtcEngine.initialize` first?

[2022-10-21 09:22] Hwan-seok commented on #797
Yes but at first creating the engine.
Should I initialize every time before joining the channel?

[2022-10-21 09:33] littleGnAl commented on #797
It is most likely you called the `RtcEngine.release` but did not call `RtcEngine.initialize` again.

[2022-10-21 09:42] Hwan-seok commented on #797
I have had a release in mine because I called destroy before 6.0.
But the release also has some errors so I eliminated them temporally. Its error was the engine was not initialized(-7).

To sum up, I did not called release.

[2022-10-21 10:22] littleGnAl commented on #797
I found that this is caused by the `unregisterEventHandler `, this issue will happen if there is only one `RtcEngineEventHandler` had been registered and then call `unregisterEventHandler`, say if there is only one `RtcEngineEventHandler` the `RtcEngine.registerEventHandler` and `RtcEngine.unregisterEventHandler` can only be called one time. It had been fixed in my development branch.
https://gith

[2022-10-21 11:39] ThangD opened #798 "[5.3.1] Web - enumerateVideoDevices not working"
**Describe the bug**
Call _engine.deviceManager.enumerateVideoDevices() on web return different values on desktop

**To Reproduce**
Steps to reproduce the behavior:
1. Go to example
2. Run device manager view
3. Try on desktop is run success.
4. Try on Web, can get the enum values of video devices but different with desktop one, caused run SetVideoDevice not working

[2022-10-21 13:51] Hwan-seok commented on #797
Got it.

I leave this issue for tracking purposes.

[2022-10-22 19:21] #780 closed

[2022-10-24 06:42] littleGnAl commented on #798
I think you can sort the devices list by the device id to ensure the order that you want.

[2022-10-24 11:18] ThangD commented on #798
@littleGnAl The device id on the web is different value caused the Set is not working, not the wrong order of list.

[2022-10-24 16:52] FOnlyJack opened #799 "implementation 'io.github.agoraio-usecase.meeting:meeting-sdk:1.1.4' go wrong"
FAILURE: Build completed with 4 failures.

1: Task failed with an exception.
-----------
* What went wrong:
Execution failed for task ':app:checkDebugDuplicateClasses'.

     Searched in the following locations:
         https://jitpack.io/com/github/agorabuilder/native-full-sdk/3.4.5/native-full-sdk-3.4.5.jar

* Try:
Run with --info or --debug option to get more log output. Run with --scan to get

[2022-10-25 06:32] littleGnAl commented on #799
Check [this](https://github.com/AgoraIO-Extensions/Agora-Flutter-SDK/issues/650) for reference

[2022-10-26 02:55] littleGnAl commented on #798
The API behavior is a little different on web.
https://github.com/AgoraIO-Community/Iris-Rtc-Web/blob/c0fa7a67146cd5a117dc27a4dfc4fde9728ee15a/src/IrisRtcEngine.ts#L901

https://github.com/AgoraIO-Community/Iris-Rtc-Web/blob/c0fa7a67146cd5a117dc27a4dfc4fde9728ee15a/src/IrisRtcEngine.ts#L728

I think you should call the `setDevice` before `joinChannel `/ `startPreview `.

[2022-10-27 03:24] shichunlei opened #801 "flutter 5.3.1 切换远程用户，远程视频不切换"
flutter 5.3.1 版本集成之后切换远程用户不发生变化

例如：当前远程用户A uid:111
还有个远程用户B uid：222
把当前用户切换至远程用户B，这时候远程的视频并没有跟着切换

remote.SurfaceView(uid: 111, channelId: _channelId);

将111切换至222，远程视频并没有变化

[2022-10-27 03:34] littleGnAl commented on #801
I think you can add the `key` property to ensure that each `remote.SurfaceView` is unique. e.g.,
[code]

[2022-10-27 04:05] shichunlei commented on #801
添加KEY之后接收远程视频的用户端视频频闪，见附件视频

https://user-images.githubusercontent.com/7146745/198188689-2335a108-f446-4f1c-8b4a-616fc3057cf1.mp4

[2022-10-27 04:13] littleGnAl commented on #801
I think it's better to provide a reproducible demo for this case.

[2022-10-27 04:46] shichunlei commented on #801
使用ValueKey 没问题了，谢谢你的回答

[2022-10-27 04:46] #801 closed

[2022-10-27 10:39] DemeoStep opened #802 "Add support for blutooth headset buttons"
As agora blocking system MediaKeysEvents - provide support for listen to this events.

Now it's not possible to operate bluetooth headset buttons with agora. No way to answer to call, mute session or other operation. Double tap disconnects headset from session (stop call), long press simply operates with system volume...

With MediaKeysEvents support it will be possible to answer a call riding a c

[2022-10-27 12:05] littleGnAl commented on #802
I think it's better to submit a new ticket to agora support to follow this issue.

[2022-10-27 13:16] DemeoStep commented on #802
Ticket submitted

[2022-10-29 02:49] #779 closed

[2022-10-31 04:29] stevanusw28 opened #804 "Could not determine artifacts for io.agora.rtc:full-sdk:3.7.0.3 in Agora 5.3.1"
**Describe the bug**
There is an error timeout when getting dependencies from Agora SDK from jcenter, so the Flutter application cannot be built.

[code]

**To Reproduce**
Run the Flutter app and build AAR using agora version 5.3.1

**Expected behavior**
The Flutter application can be reproduced

**Additional context**

[2022-10-31 05:52] littleGnAl commented on #804
I think you should check your network to see if it can connect to jcenter.

[2022-10-31 06:11] stevanusw28 commented on #804
We already double checking our network connection, and our connection is fine @littleGnAl

[2022-10-31 07:09] #783 closed

[2022-10-31 16:50] duhanbalci commented on #804
same

[2022-11-01 16:12] littleGnAl commented on #804
As I know the jcenter will be end of service, I think you can remove usages of `jcenter()`  from your build scripts and try again.

[2022-11-02 10:09] #785 closed

[2022-11-02 10:09] #787 closed

[2022-11-02 10:09] #788 closed

[2022-11-02 21:52] kwameopareasiedu opened #805 "Local Video Not Working (6.0.0)"
**Describe the bug**
After following the [guide on video calling](https://docs.agora.io/en/video-calling/get-started/get-started-sdk), which implements both local and remote views, the local video on the Flutter app does not render

**To Reproduce**
1. Create a new Flutter app
2. Install `agora_rtc_engine: 6.0.0`
3. Follow the [video calling guide](https://docs.agora.io/en/video-calling/get-starte

[2022-11-03 04:20] #758 closed

[2022-11-03 04:20] #776 closed

[2022-11-03 06:18] littleGnAl commented on #805
We will check the guide later, I think you can check our example for reference at this time.
https://github.com/AgoraIO-Extensions/Agora-Flutter-SDK/tree/main/example/lib/examples/basic/join_channel_video

[2022-11-03 11:45] kwameopareasiedu commented on #805
I'll check it out and provide feedback here...

[2022-11-03 14:10] #751 closed

[2022-11-03 15:27] followthemoney1 commented on #768
the same, any updates?

[2022-11-03 16:49] GrupoDO opened #806 "Setting COMMUNICATION profile on join channel is not consistent with API results"
**Describe the bug**
When I join on a channel with channelType = COMMUNICATION and then I get the users list from the API, the API returns that channel type is LIVE_BROADCASTING and the expected key "users" is replaced by "broadcasters".

From the docs in https://docs.agora.io/en/voice-calling/reference/channel-management-rest-api#gets-the-user-status

[code]

**To Reproduce**
Steps to reproduce t

[2022-11-04 07:46] plutoless commented on #806
so what do you get when you join with live-broadcasting mode?

[2022-11-04 09:07] rasitayaz commented on #775
Using pods configuration in [Podfile of example project](https://github.com/AgoraIO-Extensions/Agora-Flutter-SDK/blob/main/example/ios/Podfile) worked for me.

[2022-11-04 11:26] GrupoDO commented on #806
When I join using LIVE_BROADCASTING mode the API returns the correct data:

[code]

[2022-11-05 00:22] alpcanm commented on #805
When i enter  uid 0 local video working but another numbers not working.

[2022-11-06 01:44] kwameopareasiedu commented on #805
@alpcanm I just tried it. It works perfectly now. Thanks so much.

@littleGnAl You may need to update the docs to indicate this. Using a uid of 0 for the local `AgoraVideoView` allows the video to render.

I also noticed that the `onJoinChannelSuccess` also returns connection with uid of 0, but only when the `engine.joinChannelWithUserAccount` is used. Putting this here for future reference.

I'll

[2022-11-06 01:44] #805 closed

[2022-11-07 07:40] littleGnAl commented on #806
This issue is not relative to the `agora_rtc_engine`, I think it's better to raise a ticket to the agora support to keep track it.

[2022-11-07 10:09] #786 closed

[2022-11-07 10:09] #793 closed

[2022-11-07 15:21] fisforfaheem commented on #700
agora needs to fix video quality

[2022-11-08 06:21] Zeehshan opened #807 "Framework not found AgoraAIDenoiseExtension"
**Framework not found AgoraAIDenoiseExtension**
I have updated agora rtc engine lates plugin in my project, after updating plugin i am getting error

Error (Xcode): Framework not found AgoraAIDenoiseExtension

[2022-11-08 10:09] #665 closed

[2022-11-08 11:30] ThangD commented on #798
@littleGnAl
The list of MediaDeviceInfo is different btw desktop and web:
1. Desktop:
`[[{deviceId: 0x112000046d0825, deviceName: USB Camera VID:1133 PID:2085}
flutter: {deviceId: EAB7A68FEC2B4487AADFD8A91C1CB782, deviceName: FaceTime HD Camera}]]`
2. Web:
`[{deviceId: 54bf03901f28b3187b99db64624707e610ffc3a4f3d07d0cf01c71773e0219cc, deviceName: USB Camera VID:1133 PID:2085 (046d:0825)}
{deviceId:

[2022-11-08 16:38] alpcanm opened #808 "Keyboard and resizing the view"
When i open the keyboard with TextField, the AgoraVideoView resize. İ'm using those on Stack widget, textfield is on bottom of stack. İ don't want it to resize when i open the device keyboard. Can you help me?

[2022-11-09 03:47] littleGnAl commented on #807
Which version do you use?

[2022-11-09 03:50] littleGnAl commented on #808
https://stackoverflow.com/questions/46551268/when-the-keyboard-appears-the-flutter-widgets-resize-how-to-prevent-this

[2022-11-09 05:33] Zeehshan commented on #807
agora_rtc_engine: ^6.0.0
[✓] Flutter (Channel stable, 3.3.7, on macOS 13.0 22A380 darwin-x64, locale
    en-GB)
[✓] Android toolchain - develop for Android devices (Android SDK version 33.0.0)
[✓] Xcode - develop for iOS and macOS (Xcode 14.1)
[✓] Chrome - develop for the web
[✓] Android Studio (version 2021.3)
[✓] VS Code (version 1.73.0)
[✓] Connected device (2 available)
[✓] HTTP Host Availabil

[2022-11-09 08:55] Zeehshan commented on #807
I need to resolve it asap, kindly can any body help me ?

[2022-11-09 09:14] littleGnAl commented on #807
I think you can try `flutter clean` first, and can you provide more detail about how to reproduce this issue?

[2022-11-09 09:31] Zeehshan commented on #807
i already explained after upgrading agora rtc engine plugin i am facing issue that.

[2022-11-09 09:43] littleGnAl commented on #807
I'm not sure what API call caused this issue, the ci build for macOS is passed, I don't think this is a normal case, more detail is helpful for this issue.

[2022-11-09 09:44] Zeehshan commented on #807
what details should i provide you ?

[2022-11-09 09:46] littleGnAl commented on #807
What API do you call for this issue?

[2022-11-09 09:47] Zeehshan commented on #807
Actually project not running in ios device.

[2022-11-09 09:51] littleGnAl commented on #807
It is most likely the cache issue, I think you can also try removing the `ios/Pods` and try again.

[2022-11-09 09:54] Zeehshan commented on #807
rm -rf ~/Library/Developer/Xcode/DerivedData

[2022-11-09 09:55] Zeehshan commented on #807
Basically what is the reason for this error ?

[2022-11-09 09:58] littleGnAl commented on #807
The exertion is used by the SDK internally, I think a reproducible for this issue is helpful.

[2022-11-09 10:02] littleGnAl commented on #807
You can create a [minimal example](https://stackoverflow.com/help/minimal-reproducible-example) which can reproduce the `Framework not found AgoraAIDenoiseExtension ` error.

[2022-11-09 17:03] alpcanm commented on #808
Thanks for answer

[2022-11-09 17:17] sidiaoling opened #809 "agora_rtc_engine 6.0.0 after joinChannelWithUserAccount in live room, no any sound in all channel"
**Describe the bug**
create engine is successful, bug used joinChannelWithUserAccount in live room, can not hear anyone speaking, only happen in 6.0.0

**To Reproduce**
Steps to reproduce the behavior:
1. create engine: final rtcEngine = createAgoraRtcEngine();

      await rtcEngine.initialize(const RtcEngineContext(
          appId: BusinessConstant.rtc_rtm_app_id,
          channelProfile: Chan

[2022-11-09 22:29] federico-amura-kenility commented on #778
i have the same issue, but i cant do that temp fix becouse i build from Bitrise/codemagic solution. Any solution?

[2022-11-10 08:09] #725 closed

[2022-11-10 08:59] NaingMyoThawNMYT opened #811 "Android is having recording issue"
Error: ErrorCodeType.errAdmStartRecording

Device: Mi Note 10 Lite

[2022-11-11 03:12] trevorwang opened #813 "RenderMode not working for flutter texture rendering"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Run macOS example
2. Open join_channel_video
3. search and wrap AgoraVideoView in a SizedBox
[code]
4. UI will be reloaded automatically

**Expected behavior**
Video should be displayed and not be stretched

**Screenshots**
![Screenshot 2022-11-11 at 11 11 58](https://user

[2022-11-11 05:14] littleGnAl commented on #778
@federico-amura-kenility This fix will land on the next release.

[2022-11-11 05:16] littleGnAl commented on #809
I think you should set the `publishMicrophoneTrack` to `true`.

[2022-11-11 05:18] littleGnAl commented on #813
Thanks for reporting, this is a known issue, which will be faced on macOS/Windows.

[2022-11-11 05:19] sidiaoling commented on #809
not working, i hope first join channel, only hear other people speaking, publishMicrophoneTrack is control my voice publish to remote

[2022-11-11 05:20] littleGnAl commented on #811
I think this is just a callback return, which will not actually cause the recording issue.

[2022-11-11 05:25] littleGnAl commented on #809
I think it's better to submit a ticket to agora support to share the SDK logs for further investigation.

[2022-11-11 05:36] littleGnAl commented on #798
@ThangD
I think it's not the issue with the `deviceId` value, after a little dig into the web implementation,
https://github.com/AgoraIO-Community/Iris-Rtc-Web/blob/c0fa7a67146cd5a117dc27a4dfc4fde9728ee15a/src/IrisRtcDeviceManager.ts#L594, the `setVideoDeviceId ` only set a new value but not reload the video track.

So I think you should call `setVideoDeviceId ` before `joinChannel`/`startPreview`

[2022-11-11 05:37] sidiaoling commented on #809
I have submitted it. but no one can respond to me. can you help me ? ticket id is CSP-24581

[2022-11-11 05:37] trevorwang commented on #813
Is there a target milestone to fix this? Or any workaround solutions here?

When I try to preview local videos from the camera or screen captured,  the video ratio is not known before joining the channel

I have tried the below callbacks
-  `onLocalVideoStats` :
the local video size is notified after joining the channel
- `onFirstLocalVideoFrame`
**_this method is not called at all_**
- `onVideoSi

[2022-11-11 06:00] littleGnAl commented on #813
This fix is planned, but there's no timeline guarantee yet.

I think there's a theoretical solution but without verification. I think you can try to register the `VideoFrameObserver` (see `MediaEngine.registerVideoFrameObserver`) to get the local video size from `onCaptureVideoFrame` and remote video size from `onRenderVideoFrame`.

[2022-11-11 06:45] trevorwang commented on #813
Hi @littleGnAl

I have done some tests by the following code. And the camera video size is captured by the callback method.

The weird thing is that `onCaptureVideoFrame` is called when I start to share the screen. `onScreenCaptureVideoFrame` is **_NOT_** invoked as the docment mentioned

[code]

[2022-11-11 07:24] littleGnAl commented on #813
@trevorwang

I think it had been fixed on `main` branch.

[2022-11-11 07:57] trevorwang commented on #813
It works on the latest code.

Any idea why `onFirstLocalVideoFrame ` was not called?

[2022-11-11 08:49] littleGnAl commented on #813
The `onFirstLocalVideoFrame ` is not fired if rendered by raw data. Since the `AgoraVideoView` is rendered by raw data on macOS/Windows underlying, so the callback is not called.

[2022-11-11 11:42] ThangD commented on #761
@littleGnAl Do we have any events for others know the screen share is STOP? In the old release, when STOPING screen, the uid of screen sharing is OFFLINE. Thank you.

[2022-11-11 12:28] MaxTenco opened #814 "Event callbacks don't work after navigation"
**Describe the bug**
I have two pages:
- Home: there is a button to go to the "Agora page"
- Agora: where can I enter and leave a channel

The first time I enter a channel, everything works.
Then I try to go back to the home page, I click on the button to go to the Agora page.
When I try to click the "Join" button, the callback event on JoinChannelSuccess doesn't fire.
So I notice that after brows

[2022-11-11 13:26] Ogomoditse commented on #301
I have the error as well is says: E/libc    Access denied finding property "vendor.camera.aux.packagelist" site:stackoverflow.com

When i try to join an agora channel.

[2022-11-11 14:37] devangktailor commented on #814
Hello,

I am also facing this same issue in my application.

In my application there is a home page and I move into the details of user page and click on the video button and request for the call It works well at the first time. Also, I entered into the channel. At the first time I get the callback into the into the event, but at the second time I can not get the callback into the event.

But In m

[2022-11-11 18:02] devhardikbeladiya commented on #814
I have found a fix and it's working fine for me.

try adding following line while you are disposing the widget.

@override
  void dispose() {
    _engine.release();
    super.dispose();
  }

[2022-11-11 18:37] joumanam commented on #567
were you able to fix this issue?

[2022-11-12 01:39] trevorwang commented on #813
@littleGnAl

Thanks for your explanation. Clear now.

[2022-11-12 04:09] ThangD opened #815 "6.0 muteLocalVideoStream, muteLocalAudioStream is NOT working"
**Describe the bug**
muteLocalVideoStream, muteLocalAudioStream is NOT working on version 6.0

**To Reproduce**
Steps to reproduce the behavior:
1. Go to example
2. Click on 'join_channel_video'
3. Add option 'muteLocalVideoStream', 'muteLocalAudioStream'

**Expected behavior**
Others in the channel updated base on muteLocalVideoStream/ muteLocalAudioStream.

**Desktop (please complete the followi

[2022-11-13 14:46] #808 closed

[2022-11-14 02:25] wumingshicong opened #816 "e: /Users/wumingshi/Downloads/flutter3.3.4/.pub-cache/hosted/pub.flutter-io.cn/agora_rtc_engine-5.1.0/android/src/main/kotlin/io/agora/agora_rtc_engine/AgoraRtcEnginePlugin.kt: (251, 18): Type mismatch: inferred type is String? but String was expected"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-11-14 02:46] littleGnAl commented on #816
Please try `agora_rtc_engine: ^6.0.0`.

[2022-11-14 10:41] littleGnAl commented on #814
As @devhardikbeladiya stated, the `RtcEngine` needs to be released on `dispose` callback.

[2022-11-14 10:47] littleGnAl commented on #814
This is the doc issue, I have submitted an issue to the doc repo.
https://github.com/AgoraIO/Docs-Source/issues/876

[2022-11-14 10:48] littleGnAl commented on #809
Do you also call the ` joinChannel` for other users?

[2022-11-14 12:21] MaxTenco commented on #814
Now, everything works.
Thanks

[2022-11-15 02:24] ThangD commented on #815
@littleGnAl Could you pls help to take a look on this one?

[2022-11-15 03:23] littleGnAl commented on #815
I think you can try [onUserMuteAudio](https://github.com/AgoraIO-Extensions/Agora-Flutter-SDK/blob/1bdb923668e1be27541cb5c331e2daa30d4079ec/lib/src/agora_rtc_engine.dart#L1820) or [onUserMuteVideo](https://github.com/AgoraIO-Extensions/Agora-Flutter-SDK/blob/1bdb923668e1be27541cb5c331e2daa30d4079ec/lib/src/agora_rtc_engine.dart#L1829) callback.

[2022-11-15 03:25] Qimeron commented on #815
interface/cpp/rtc_engine/IAgoraRtcEngine.h

`  /** Occurs when a remote user's audio stream playback pauses/resumes.

     The SDK triggers this callback when the remote user stops or resumes sending the audio stream by
     calling the `muteLocalAudioStream` method.

     @note This callback can be inaccurate when the number of users (in the `COMMUNICATION` profile) or hosts (in the `LIVE_BROADCA

[2022-11-15 03:48] ThangD commented on #815
@littleGnAl When HOST muteLocalAudioStream/ muteLocalVideoStream, it is not effect. Audience still heard and see the HOST.

[2022-11-15 04:01] Qimeron commented on #815
may I get your help to get the logs?

[2022-11-15 04:02] Qimeron commented on #815
may I get your help to get the logs?

[2022-11-15 04:13] ThangD commented on #815
@Qimeron Thank you so much. Seem we can use the new function: enableAudio(),   enableVideo() for replacing in the new version. Just need to confirm.

[2022-11-15 05:05] littleGnAl commented on #545
These features are available on `agora_rtc_engine: ^6.0.0`.
Push a camera stream, you can use `MediaEngine. pushVideoFrame `, check https://github.com/AgoraIO-Extensions/Agora-Flutter-SDK/blob/main/example/lib/examples/advanced/push_video_frame/push_video_frame.dart for reference.

Push a video stream, you can use the MediaPlayer to handle this, check https://github.com/AgoraIO-Extensions/Agora-Fl

[2022-11-15 05:08] littleGnAl commented on #543
I think you can make it work easily on `agora_rtc_engine: ^6.0.0` by using  MediaPlayer, please check https://github.com/AgoraIO-Extensions/Agora-Flutter-SDK/blob/main/example/lib/examples/advanced/media_player/media_player.dart for reference.

[2022-11-15 07:09] #799 closed

[2022-11-15 11:11] ThangD opened #818 "[6.0.0] Mobile - RtcEngineEx.joinChannelEx is FAILED with clientRoleAudience"
**Describe the bug**
Mobile - RtcEngineEx.joinChannelEx is FAILED with clientRoleAudience

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'example'
2. Click on 'ScreenSharing'
3. Change joinChannel with clientRoleAudience role
4. Error with exception :
`E/flutter (16566): [ERROR:flutter/lib/ui/ui_dart_state.cc(209)] Unhandled Exception: AgoraRtcException(-17, null)
E/flutter (16566): #

[2022-11-15 15:34] sauravdpl opened #819 "Invalid argument(s): Failed to load dynamic library 'libiris_event_handler.so': dlopen failed: library "libiris_event_handler.so" not found"
**Describe the bug**
Added all the example code from the agora website  [https://docs.agora.io/en/interactive-live-streaming/get-started/get-started-sdk?platform=flutter](official agora website). When testing the live stream from the android app live stream was not working. On the Console, it throw the error :
Invalid argument(s): Failed to load dynamic library 'libiris_event_handler.so': dlopen f

[2022-11-16 02:31] ThangD commented on #818
@littleGnAl Could you pls help to take a look on this one? Thank you.

[2022-11-16 06:03] littleGnAl commented on #818
Error code `-17` means the user has joined the channel, you need to leave the channel first.
https://github.com/AgoraIO-Extensions/Agora-Flutter-SDK/blob/1bdb923668e1be27541cb5c331e2daa30d4079ec/lib/src/agora_base.dart#L249

[2022-11-16 06:28] littleGnAl commented on #819
I think a reproducible demo for this issue if helpful.

[2022-11-16 07:37] sauravdpl commented on #819
I have listed steps in "To Reproduce" section

[2022-11-16 07:49] maerlynflagg commented on #819
i had this issue yesterday after upgrade to 6.0.0, too. like you, i had the issue on emulator, not on a real device.

**Smartphone**

- Device: Google Pixel 3 Android Emulator
- OS: API 29 Android

[2022-11-16 07:54] littleGnAl commented on #819
Only support `x86_64 ` arch for the emulator.

[2022-11-16 11:48] ThangD commented on #818
@littleGnAl No user joined the channel yet, you can reproduce like the step i described above. No problem with desktop, only happen with mobile.

[2022-11-17 04:40] littleGnAl commented on #818
Do you use the same uid?

[2022-11-17 04:41] littleGnAl commented on #818
This change works fine.
<img width="703" alt="image" src="https://user-images.githubusercontent.com/8847263/202357409-d46e4b5e-bcd6-4b45-b368-a4be5d5cc2d1.png">

[2022-11-17 10:46] ThangD commented on #815
@littleGnAl @Qimeron Could you pls help to confirm? i used enableAudio(), enableVideo(), it can stop PULISH video/ audio but can not received video/audio as well.

[2022-11-17 13:28] ThangD opened #821 "[6.0] setVideoEncoderConfiguration not effect on the "onRemoteVideoStats" event"
**Describe the bug**
setVideoEncoderConfiguration not effect on the "onRemoteVideoStats" event

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'example'
2. Click on 'join_channel_video',
3. Change setVideoEncoderConfiguration t0
 ` await _engine.setVideoEncoderConfiguration(
      const VideoEncoderConfiguration(
        dimensions: VideoDimensions(width: 480, height: 480),
        fra

[2022-11-17 14:18] #818 closed

[2022-11-17 18:21] aaronvg opened #822 "How to get userId as a string from event handlers in 6.0.0?"
I'm using flutter on desktop on macOS.

Is there a way to get a userId as a string from event handlers? I only see integers

[2022-11-17 18:35] aaronvg opened #823 "v 6.0.0 RegisterEventHandlers not working on macOS desktop"
**Describe the bug**
I've registered event handlers but none of them are being called.

Is this a known issue?

[code]

[2022-11-18 03:07] littleGnAl commented on #823
I think you can see if there are any errors output to the console.

[2022-11-18 03:08] littleGnAl commented on #822
May I ask what's your scenario that you need a uid as a string, I think you can easily parse the uid to a string.

[2022-11-18 03:26] #802 closed

[2022-11-18 09:23] benyaminbeyzaie commented on #463
I have same issue with logs. They are too much and often useless

[2022-11-19 00:06] navidanchitrali opened #824 "ArgumentError (Invalid argument(s): Failed to load dynamic library 'libiris_event_handler.so': dlopen failed: library "libiris_event_handler.so" not found)"
i am facing two errors  please help!

1.  when i press te join channel button :  ArgumentError (Invalid argument(s): Failed to load dynamic library 'libiris_event_handler.so': dlopen failed: library "libiris_event_handler.so" not found)

2.  . when i press the camera front button :  LateError (LateInitializationError: Field 'requestPort' has not been initialized.)

the code i am trying :

      im

[2022-11-19 09:59] uktamjon-komilov commented on #824
Same issue!

`

import 'package:agora_rtc_engine/agora_rtc_engine.dart';
import 'package:flutter/material.dart';
import 'package:permission_handler/permission_handler.dart';

String appId = "67703ad3fdd7459eb1d9703c9789f7b3";

void main() {
  WidgetsFlutterBinding.ensureInitialized();

  runApp(MyApp());
}

class MyApp extends StatefulWidget {
  @override
  MyAppState createState() => MyAppState()

[2022-11-19 10:01] uktamjon-komilov commented on #824
Same issue!

[code]

[2022-11-20 14:55] deepak9166 commented on #727
I downgrade agora version and try it's not working

[2022-11-21 08:55] thefdisk commented on #615
Hello @Anilkumar18 , could you please share your link for android implementation?

[2022-11-21 09:42] littleGnAl commented on #824
Duplicated https://github.com/AgoraIO-Extensions/Agora-Flutter-SDK/issues/819

[2022-11-21 09:50] littleGnAl commented on #821
I think you should ensure whether uid 40 calls the `_engine.setVideoEncoderConfiguration` function.
BTW, I think you can fork and change the demo if this can be reproducibly by our example, so I can find the issue more easily.

[2022-11-21 11:01] #798 closed

[2022-11-21 15:00] maerlynflagg opened #825 "Black Screen local iOS/Android"
hello,

we work with a flutter app (sender) and WebPage (receiver). encryption is enabled.  this worked fine for some month. now i upgraded to Agora 6.0.0 on app and i get black screen.

[code]

the receiver has video and audio. all is fine.  but now, the app's have only audio and black screen.

some code snippets:

[code]

[code]

[code]

[code]

the CircularProgressIndicator is every time gone a

[2022-11-21 19:00] deepak9166 commented on #727
I fixed this issue by add these two line in pod file.

`      config.build_settings['ONLY_ACTIVE_ARCH'] = 'YES'
      config.build_settings["EXCLUDED_ARCHS[sdk=iphonesimulator*]"] = "i386"`

![image](https://user-images.githubusercontent.com/64632494/203137602-3047b58a-5745-4f2f-b798-84421c154f14.png)

[2022-11-21 19:03] deepak9166 commented on #727
I fixed this issue by add these two line in pod file.

`      config.build_settings['ONLY_ACTIVE_ARCH'] = 'YES' `
 `     config.build_settings["EXCLUDED_ARCHS[sdk=iphonesimulator*]"] = "i386"`

![image](https://user-images.githubusercontent.com/64632494/203137602-3047b58a-5745-4f2f-b798-84421c154f14.png)

[2022-11-21 19:04] deepak9166 commented on #727
https://github.com/AgoraIO-Extensions/Agora-Flutter-SDK/issues/727#issuecomment-1322517057
try this one

[2022-11-21 20:14] dmitry-fbm opened #826 "JNI DETECTED ERROR IN APPLICATION: java_object == null"
Cannot reproduce this locally but seeing such errors in Google Console, coming from production apps. FWIW, looks like only two device types are affected, never seen any other:

![image](https://user-images.githubusercontent.com/72771850/203149538-525437ae-bf42-43dc-a5eb-2f8472acee70.png)

[code]

[2022-11-22 02:22] littleGnAl commented on #826
Which version do you use?

[2022-11-22 08:01] littleGnAl commented on #815
This work on my side, can you share a reproducible demo of this issue?

[2022-11-22 08:05] littleGnAl commented on #825
You should render a valid user id which saves in the `_users`, please check our example for how to implement the video rendering.
https://github.com/AgoraIO-Extensions/Agora-Flutter-SDK/blob/1bdb923668e1be27541cb5c331e2daa30d4079ec/example/lib/examples/basic/join_channel_video/join_channel_video.dart#L135

[2022-11-22 08:11] papmodern commented on #775
@littleGnAl  Any estimation for web support on agora 6?

[2022-11-22 08:15] papmodern commented on #775
I can't understand if its not supporting web, why the pub page shows another thing?

[2022-11-22 15:57] fabio-o0 commented on #645
@jmlarbaig hey, running into the same issue. Did you ever get the watermark to show up?

[2022-11-22 15:59] jmlarbaig commented on #645
Hey Fabio,

I have search a lot and I didn't find solution. I went to other solution

[2022-11-22 16:00] fabio-o0 commented on #645
@jmlarbaig what solution did you end up going with?

[2022-11-22 16:01] jmlarbaig commented on #645
I used this package :

https://pub.dev/packages/haishin_kit

[2022-11-22 16:05] fabio-o0 commented on #645
@jmlarbaig got you, I will look into it. Thanks for the quick responses btw. Did you still use agora for the videocall, just connected to the stream using haishin?

[2022-11-22 16:06] jmlarbaig commented on #645
It depend of what you want, just streming something or if you want to do B2B

[2022-11-22 17:09] #804 closed

[2022-11-22 18:53] Tpow99 commented on #825
Steps in the provided do not work, local preview still blank

[2022-11-22 20:21] maerlynflagg commented on #825
Thank you for response. one problem is solved. after the update to 6.0.0 the constellation firefox and flutter app works again. audio and video are now available for both.

I forgot the second AgoraVideoView.

[code]
now, this case ist fine.

for information:

in the Chrome and flutter app constellation, the app has video and audio, but the browser only receives audio. in the video it looks like n

[2022-11-22 20:21] #825 closed

[2022-11-24 14:58] meet7-sagar23 opened #828 "Error while starting the local preview."
https://github.com/AgoraIO-Extensions/Agora-Flutter-SDK/blob/1bdb923668e1be27541cb5c331e2daa30d4079ec/example/lib/examples/basic/join_channel_video/join_channel_video.dart#L100

Please run the below code snippet to reproduce.

[code]

Here is the output: -

[2022-11-24 20:58] amityamsi commented on #828
This error occurs because of
The specified view is invalid. The video call function requires a specified view.

read agora error and code docs here
https://docs.agora.io/en/3.x/video-calling/reference/error-codes?platform=flutter

[2022-11-25 09:37] littleGnAl commented on #828
I think more info is needed

[2022-11-25 09:38] littleGnAl commented on #826
Thanks for reporting, I think this still need more time to investigate.

[2022-11-25 20:48] xmbebebol commented on #828
Any updates? Also getting the same error.

[2022-11-25 20:52] xmbebebol commented on #828
Error code details: "8 | The specified view is invalid. The video call function requires a specified view." What does this mean?

[2022-11-25 21:38] amityamsi commented on #809
you are setting the Client Role as Audience which automatically mute your microphone while joining live streaming
If you want to publish your microphone voice then you have you set your Client Role as Broadcaster

[2022-11-28 08:09] #806 closed

[2022-11-28 22:46] meandmymonkey7 commented on #826
We are also having this issue only for the same devices. One of our users wrote a review saying that this will crash the app at startup (even though we use the library at an internal page) so just adding a reference at pubspec.yaml is enough to make app crash. We also use the same version, 5.3.0